[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2019  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  operator - operator from which the payment is made
  #  status - status flag
  #
  #%]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "Donating options"
   feeds = lb_feeds
 %]

<main>

[% PROCESS global/leftbar.html.tmpl %]

[% IF status == 'ok' %]
<section id="DonationOK">
<h2>Thank you!</h2>
<p class="text">Thank you for donating money to [% slackpack.name %]
[% SWITCH operator %]
[% CASE 'epay' %]
through&nbsp;<a href="https://www.epay.bg/en/" hreflang="en">ePay</a>
[% CASE 'paypal' %]
through&nbsp;<a href="https://www.paypal.com/" hreflang="en">PayPal</a>
[% END %]. I greatly appreciate your support!</p>
<p class="text"><a href="/slackpack/">Return</a> to the site.</p>
</section>
[% ELSIF status == 'ko' %]
<section id="DonationKO">
<h2>Donation cancelled</h2>
<p class="text">Thank you for considering donating money to [% slackpack.name %].</p>
<p class="text">You can review <a href="donate.cgi">donating options</a> again
or <a href="/slackpack/">return</a> to the site.</p>
</section>
[% ELSE %]
<section id="WhyDonating">
<h2>Why donating?</h2>
<p class="text">This site and the packages in it require significant efforts
for support. Thus, donations are accepted from everyone interested in
supporting the work. If you like the site and use the packages, please check
the donating options below.</p>
</section>

<section id="DonatingFAQ">
<h2>Donating <abbr title="Frequently Asked Questions">FAQ</abbr></h2>
<p>
<abbr title="Question">Q</abbr>: <strong>Do I have to donate?</strong><br />
<abbr title="Answer">A</abbr>: No! You are not obliged by any means to donate. Do it if you want to, if
you like the site and the packages.<br /><br />
<abbr title="Question">Q</abbr>: <strong>How much?</strong><br />
<abbr title="Answer">A</abbr>: Donate as much as you want. No minimum or maximum limit.<br /><br />
<abbr title="Question">Q</abbr>: <strong>Is it safe?</strong><br />
<abbr title="Answer">A</abbr>: Your transactions will be processed through secure connections and
[%+ slackpack.name %] will not receive any personal information.</p>
</section>

<section id="DonationOptions">
<h2>Donating options</h2>
<p class="text">If you are ready now, please proceed using any of
the following form[% "s" IF query == '' %]:</p>
<p class="note"><em>Note: You donate <strong>only once</strong> per time.
No subscriptions.</em></p>

[% IF query == '' OR query == 'paypal' %]
<table id="DonatePayPal" class="donate">
<thead>
<tr><th>PayPal</th></tr>
</thead>
<tbody>
<tr>
<td><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<p>
<input name="cmd" value="_donations" type="hidden" />
<input name="business" value="QPSQ33BA8T8DU" type="hidden" />
<input name="lc" value="EN" type="hidden" />
<input name="item_name" value="One-time support for [% slackpack.name %]" type="hidden" />
<input name="item_number" value="DONATE" type="hidden" />
<input name="no_shipping" value="1" type="hidden" />
<input name="notify_url" value="mailto:gdsotirov@dir.bg" type="hidden" />
<input name="return" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=paypal&amp;stat=ok" type="hidden" />
<input name="cbt" value="Return to [% slackpack.name %]" type="hidden" />
<input name="cancel_return" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=mb&amp;stat=ko" type="hidden" />
<input name="image_url" value="https://sotirov-bg.net/slackpack/img/slackpack" type="hidden" />
</p>
<p>International donators could safely and easily donate though <a
href="https://www.paypal.com/" hreflang="en">PayPal</a>&nbsp;<img alt="ext^" src="img/extsite"
title="External site" /> either through their account or without login in PayPal.</p>
<p class="center"><label for="amount_pp"><strong>I wish to donate</strong>&nbsp;
<input name="amount" id="amount_pp" maxlength="10" size="3" type="text" value="10" /></label>
<select name="currency_code" size="1">
<option value="USD" selected="selected">USD – $</option>
<option value="EUR">EUR – €</option>
<option value="GBP">GBP – £</option>
<option value="AUD">AUD – $</option>
<option value="CAD">CAD – $</option>
<option value="CHF">CHF – S₣</option>
<option value="CZK">CZK – Kč</option>
<option value="DKK">DKK – kr</option>
<option value="HKD">HKD – HK$</option>
<option value="HUF">HUF – Ft</option>
<option value="JPY">JPY – ¥</option>
<option value="NZD">NZD – NZ$</option>
<option value="NOK">NOK – kr</option>
<option value="PLN">PLN – zł</option>
<option value="SGD">SGD – S$</option>
<option value="SEK">SEK – kr</option>
<option value="ILS">ILS - ₪</option>
</select><br /><br />
<input alt="PayPal Donate"
name="submit" src="img/btn_paypal_donate" type="image" title="Donate through PayPal" />
</p></form></td>
</tr>
</tbody>
</table>
[% END %]

[% IF query == '' OR query == 'epay' %]
<table id="DonateEpay" class="donate">
<thead>
<tr><th>EPay</th></tr>
</thead>
<tbody>
<tr>
<td><form action="https://www.epay.bg/" id="epay" method="post">
<p>
<input type="hidden" name="page" value="paylogin" />
<input type="hidden" name="min" value="961794843" />
<input type="hidden" name="descr" value="One-time support for [% slackpack.name %]" />
<input type="hidden" name="url_ok" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=epay&amp;stat=ok" />
<input type="hidden" name="url_cancel" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=epay&amp;stat=ko" />
</p>
<p>Donators from Bulgaria may consider donating through
<a href="https://www.epay.bg/en/" hreflang="en">EPay</a>&nbsp;<img alt="ext^"
src="img/extsite" title="External site" />, which is fast and easy, but
requires registration.</p>
<p class="center"><label for="total_ep"><strong>I wish to donate</strong>&nbsp;
<input type="text" name="total" id="total_ep" maxlength="10" size="3" value="10" />
</label>&nbsp;<abbr title="Bulgarian New Lev">BGN</abbr><br /><br />
<input alt="ePay Donate"
name="submit" src="img/btn_epay" type="image" title="Donate through ePay" />
</p></form></td>
</tr>
</tbody>
</table>
[% END %]

[% IF query == '' %]
<table id="DonateDirect" class="donate">
<thead>
<tr><th>Direct deposit</th></tr>
</thead>
<tbody>
<tr>
<td><p>If you prefer you can directly transfer money to one
of my accounts.</p>
<p><strong>Account Holder</strong>:<br />
&nbsp;&nbsp;&nbsp;Georgi D. Sotirov<br />
<strong><abbr title="International Bank Account Numbers">IBAN</abbr></strong>:<br />
&nbsp;&nbsp;&nbsp;BG69 FINV 9150 10BG N02B 3Q<br />
<strong><abbr title="Bank Identificaiton Code">BIC</abbr></strong>:<br />
&nbsp;&nbsp;&nbsp;FINVBGSF<br />
<strong>Bank</strong>:<br />
&nbsp;&nbsp;&nbsp;<a href="https://www.fibank.bg/en" hreflang="en">First Investment Bank</a>
&nbsp;<img alt="ext^" src="img/extsite" title="External site" /></p>
</td></tr>
</tbody>
</table>
[% END %]
</section>

[% END %]

</main>

[% PROCESS global/footer.html.tmpl %]

