[%# $Id: index.html.tmpl,v 1.5 2006/07/09 14:09:25 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  packs - hash with the type of liceneses data
  #  count - total count of the packages
  #  size - total size of the packages in human readable format
  #  sizeB - total size of the packages in bytes
  #
  #%]

[% PROCESS global/header.html.tmpl
   title = "Georgi Sotirov's Slackware Packages"
 %]

<body>
<div id="Header">
<div id="Head">
<h1>Georgi Sotirov's Slackware Packages</h1>
</div>

<p class="right">Packages: [% count %], Total amount: [% size %] ([% sizeB %] <abbr title="Bytes">B</abbr>)</p>
</div>

<div id="Content">
<div id="Latest">
<h2>Latest 25 packages</h2>
<table class="list">
<thead>
<tr>
<th>Name</th>
<th>Version</th>
<th>Build</th>
<th>Architecture</th>
<th>Slackware version</th>
<th>Details</th>
</thead>
<tbody>
[% FOREACH pack = packs %]
 <tr>
 <td>[% IF pack.URL != "" %]<a href="[% pack.URL %]">[% pack.Name %]</a>[% ELSE %][% pack.Name %][% END %]</td>
 <td>[% pack.Version %]</td>
 <td>[% pack.Build %]</td>
 <td>[% pack.Architecture %]</td>
 <td>[% pack.Slack %]</td>
 <td><a href="pack.cgi?id=[% pack.Id %]">View</a></td>
</tr>
[% END %]
</tbody>
</table>
</div>
</div>

</body>

[% PROCESS global/footer.html.tmpl %]
