[%# $Id: index.html.tmpl,v 1.26 2006/10/09 18:27:52 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  packs - hash with the type of liceneses data
  #  news - site news
  #
  #%]

[% USE date(format = '%Y-%m-%d/%H:%M:%S', locale = 'en_US', gmt = 0) %]

[% PROCESS global/header.html.tmpl
   title = "Georgi Sotirov's Slackware Packages",
   feeds = [
            {
             title => "Latest news (Atom)",
             type => "application/atom+xml",
             url => "feed.cgi?q=news&amp;type=atom"
            },
            {
             title => "Latest news (RSS)",
             type => "application/rss+xml",
             url => "feed.cgi?q=news&amp;type=rss"
            },
            {
             title => "Latest news (RDF)",
             type => "application/rdf+xml",
             url => "feed.cgi?q=news&amp;type=rdf"
            },
            {
             title => "Latest packages (Atom)",
             type => "application/atom+xml",
             url => "feed.cgi?q=latest&amp;type=atom"
            },
            {
             title => "Latest packages (RSS)",
             type => "application/rss+xml",
             url => "feed.cgi?q=latest&amp;type=rss"
            },
            {
             title => "Latest packages (RDF)",
             type => "application/rdf+xml",
             url => "feed.cgi?q=latest&amp;type=rdf"
            }
           ]
 %]

<div id="Content">

[% PROCESS global/leftbar.html.tmpl %]

<div id="Main">
<div id="News">
<h2>News</h2>
[% FOREACH n = news %]
<div id="[% n.id FILTER html %]">
<h3>[% n.title FILTER html %]</h3>
<p><em>Published on [% date.format(n.published) FILTER html %] by</em> <a href="mailto:[% n.aemail FILTER html %]">[% n.afirstname FILTER html %] [%+ n.aname FILTER html %]</a></p>
<p>[% n.body %]</p>
</div>
[% END %]
<p class="right">
<a href="feed.cgi?q=news&amp;type=atom" title="Latest news (Atom)" type="application/atom+xml">Atom</a>&nbsp;<img alt="Feed" src="img/feed-icon" />
<a href="feed.cgi?q=news&amp;type=rss" title="Latest news (RSS)" type="application/rss+xml"><abbr title="Really Simple Syndication">RSS</abbr></a>&nbsp;<img alt="Feed" src="img/feed-icon" />
<a href="feed.cgi?q=news&amp;type=rdf" title="Latest news (RDF)" type="application/rdf+xml"><abbr title="Resource Definition Framework">RDF</abbr></a>&nbsp;<img alt="Feed" src="img/feed-icon" /></p>
</div>

<div id="Latest">
<h2>Latest packages</h2>
<table class="list">
<thead>
<tr>
<th>Date/Time</th>
<th>Name</th>
<th>Version</th>
<th>Build</th>
<th>Architecture</th>
<th>Slackware version</th>
<th>Details</th>
</tr>
</thead>
<tbody>
[% FOREACH pack = packs %]
<tr>
 <td>[% date.format(pack.Date) FILTER html %]</td>
 <td><a href="pack.cgi?id=[% pack.Id %]">[% pack.Name FILTER html %]</a></td>
 <td>[% pack.Version FILTER html %]</td>
 <td>[% pack.Build FILTER html %]</td>
 <td>[% pack.Architecture FILTER html %]</td>
 <td>[% pack.Slack FILTER html %]</td>
 <td><a href="pack.cgi?id=[% pack.Id FILTER html %]">View</a></td>
</tr>
[% END %]
</tbody>
</table>
<p class="right">
<a href="feed.cgi?q=latest&amp;type=atom" title="Latest packages (Atom)" type="application/atom+xml">Atom</a>&nbsp;<img alt="Feed" src="img/feed-icon" />
<a href="feed.cgi?q=latest&amp;type=rss" title="Latest packages (RSS)" type="application/rss+xml"><abbr title="Really Simple Syndication">RSS</abbr></a>&nbsp;<img alt="Feed" src="img/feed-icon" />
<a href="feed.cgi?q=latest&amp;type=rdf" title="Latest packages (RDF)" type="application/rdf+xml"><abbr title="Resource Definition Framework">RDF</abbr></a>&nbsp;<img alt="Feed" src="img/feed-icon" /></p>
</div>
</div>
</div>

[% PROCESS global/footer.html.tmpl %]

