[%# $Id: package.html.tmpl,v 1.18 2006/09/03 10:21:56 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  pack - package data
  #  history - package history
  #
  #%]

[% PROCESS global/header.html.tmpl
   title = "Georgi Sotirov's Slackware Packages",
   count = count,
   size = size,
   sizeB = sizeB
 %]

<div id="Content">
<div id="LeftBar">

<div id="Search">
<h2>Search</h2>
<form action="search.cgi">
<p class="center"><input id="q" maxlength="255" name="q" type="text" size="15" />
<br /><br />
<input id="submit" name="submit" type="submit" value="Search" /></p>
</form>
</div>

<div id="Categories">
<h2>Categories</h2>
<ul>
[% FOREACH cat = categories %]
<li><a href="search.cgi?cat=[% cat.id %]">[% cat.name %] ([% cat.count %])</a></li>
[% END %]
</ul>
</div>

<div id="About">
<h2>About</h2>
<map name="AboutMap"><ul>
<li><a href="about.html">For the site</a></li>
<li><a href="http://sotirov-bg.net/~gsotirov/">Author's site</a></li>
</ul></map>
</div>
</div>

<div id="Main">
<h2>Package details for <em>[% pack.name %]</em></h2>
<div id="Package">
<p><strong>Version</strong>: [% pack.version %]<br />
<strong>Build</strong>: [% pack.build %]</p>
<p><strong>Homepage</strong>: <a href="[% pack.url %]">[% pack.url %]</a></p>
<p class="text">[% pack.desc %]</p>
<p>
<strong>License</strong>: [% IF pack.license_url %]<a href="[% pack.license_url %]">[% END %][% pack.license %][% IF pack.license_url %]</a>[% END %]<br />
<strong>Architecture</strong>: [% pack.arch %]<br />
<strong>Format</strong>: [% pack.slack %]<br />
<strong>Category</strong>: [% pack.category %]<br />
<strong>SlackBuild</strong>: [% IF pack.slackbuild == 'yes' %]Yes, included[% ELSE %]No[% END %]</p>
</div>

<div id="RightBar">
<div id="File">
<h2>File info</h2>
<p><strong>Filename</strong>: [% pack.filename %]<br />
<strong>Filesize</strong>: [% pack.filesize %] <abbr title="Bytes">B</abbr><br />
<strong>MD5 Hash</strong>: [% pack.filemd5 %]<br />
<strong>Date/Time</strong>: [% pack.date %] / [% pack.time %]</p>
</div>

<div id="Download">
<h2>Download</h2>
<p><strong><abbr title="Hyper Text Transfer Protocol">HTTP</abbr></strong>: <a href="http://ftp.sotirov-bg.net[% pack.fileurl %]">Download</a><br />
<strong><abbr title="File Transfer Protocol">FTP</abbr></strong>: <a href="ftp://sotirov-bg.net[% pack.fileurl %]">Download</a>
</p>
</div>
</div>

<div id="History">
<h3>Other Formats/Versions</h3>
[% IF history.0 %]
<table class="list">
<thead>
<tr>
<th>Format</th>
<th>Version</th>
<th>Build</th>
<th>Architecture</th>
<th>Date/Time</th>
<th>Size, <abbr title="Bytes">B</abbr></th>
<th>Details</th>
</tr>
</thead>
<tbody>
[% FOREACH hist = history %]
<tr>
<td>[% hist.slack %]</td>
<td>[% hist.version %]</td>
<td>[% hist.build %]</td>
<td>[% hist.arch %]</td>
<td>[% hist.date %]&nbsp;[% hist.time %]</td>
<td>[% hist.filesize %]</td>
<td><a href="pack.cgi?id=[% hist.id %]">View</a></td>
</tr>
[% END %]
</tbody>
</table>
[% ELSE %]
<p>No other formats/versions of this package exist.</p>
[% END %]
</div>
</div>

</div>

[% PROCESS global/footer.html.tmpl %]
 
