[%# $Id: package.html.tmpl,v 1.61 2018/05/15 19:34:10 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2010  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  pack - package data
  #  history - package history
  #  formats - other package formats
  #  warn - indicates that the user was warned about the package
  #
  #%]

[% USE date(format = '%Y-%m-%d', locale = 'en_US', gmt = 0) %]
[% USE Number.Format(THOUSANDS_SEP = ' ',
                     DECIMAL_POINT = '.',
                     DECIMAL_DIGITS = 2,
                     KILO_SUFFIX = ' <abbr title="Kilo Bytes">KB</abbr>',
                     MEGA_SUFFIX = ' <abbr title="Mega Bytes">MB</abbr>',
                     GIGA_SUFFIX = ' <abbr title="Giga Bytes">GB</abbr>') %]

[% SET page_title = "Package details for " _ pack.title _ " " _ pack.version _ " for " _ pack.arch.name %]
[% IF pack.build > 1 %]
[%   SET page_title = page_title _ " (" _ pack.build _ ")" %]
[% END %]
[% IF pack.security_fix %]
[%   SET page_title = page_title _ " (* Security fix *)" %]
[% END %]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = page_title
   feeds = lb_feeds
 %]

<div id="Content">

[% PROCESS global/leftbar.html.tmpl %]

<div id="Main">
[% IF pack.status == 'ok' || warn == 1 %]
<h2>Package details for <em>[% pack.title FILTER html %] [%+ pack.version %] for [% pack.arch.name %] [%+ IF pack.build > 1 %]([% pack.build %])[% END %]</em></h2>
<div id="Package">
[% IF pack.status != 'ok' %]
<p class="warn_box">This package is <strong>not recomended</strong>, because
it's obsolete. <strong>Use it on YOUR OWN RISK!!!</strong></p>
[% END %]
[% IF pack.security_fix %]
<p class="sec_fix_box">
<strong>Security fix</strong>. This package contains security fix(es). It's
recomended to install it as soon as possible. For more details please, see
the ChangeLog.txt file in the repository.
</p>
[% END %]
<p><strong>Name</strong>: [% pack.name FILTER html %]<br />
<strong>Version</strong>: [% pack.version FILTER html %]<br />
[% IF pack.releasedate != '0000-00-00' %]
<strong>Release date</strong>: [% pack.releasedate FILTER html %]<br />
[% END %]
<strong>Build</strong>: [% pack.build FILTER html %]</p>
<p>
<strong>Homepage</strong>:&nbsp;
<a href="[% pack.url FILTER html %]" target="_blank">Visit</a>&nbsp;
<img alt="ext^" src="img/extsite" title="External site" />
[% IF pack.vendor.id != 1 %]
<br />
<strong>Vendor</strong>:&nbsp;
<a href="[% pack.vendor.homeurl FILTER html %]" target="_blank">[% pack.vendor.title FILTER html %]</a>&nbsp;
<img alt="ext^" src="img/extsite" title="External site" />&nbsp;
(<a href="search.cgi?vendor=[% pack.vendor.id FILTER html %]">Package's list</a>)
[% END %]
</p>
<p class="text">[% pack.description FILTER desc_html %]</p>
<p>
<strong>License</strong>:&nbsp;
[% IF pack.license.url %]
<a href="[% pack.license.url %]" title="[% pack.license.description %]"
target="_blank">[% pack.license.name %]</a>&nbsp;<img alt="ext^"
src="img/extsite" title="External site" />
[% ELSE %]
<acronym title="[% pack.license.description %]">[% pack.license.name %]</acronym>
[% END %]<br />
<strong>Architecture</strong>: [% pack.arch.name FILTER html %]<br />
<strong>Format</strong>: [% pack.slackver.name FILTER html %]<br />
<strong>Category</strong>: [% pack.category.name FILTER html %]<br />
<strong>SlackBuild</strong>: [% IF pack.slackbuild == 'yes' %]Yes, included[% ELSE %]No[% END %]<br />
<strong>From binary release</strong>: [% IF pack.frombinary == 'yes' %]Yes, only packaged[% ELSE %]No[% END %]</p>
</div>

[% PROCESS global/rightbar.html.tmpl %]

[% IF history.0 %]
<div id="History">
<h3>Package history</h3>
<table class="list">
<thead>
<tr>
 <th>Version</th>
 <th>Build</th>
 <th>Date/Time</th>
 <th>Size</th>
 <th>Details</th>
</tr>
</thead>
<tbody>
[% FOREACH pack = history %]
[% IF pack.security_fix %]
<tr class="security_fix">
[% ELSE %]
<tr>
[% END %]
 <td>[% pack.version FILTER html %]</td>
 <td>[% pack.build FILTER html %]</td>
 <td>[% date.format(pack.filedate) FILTER html  %]</td>
 <td>[% pack.filesize | format_bytes %] ([% pack.filesize | format_number %] <abbr title="Bytes">B</abbr>)</td>
 <td>[% IF pack.status == 'del' %]Deleted[% ELSE %]<a href="pack.cgi?id=[% pack.id FILTER html %]">View</a>[% END %]</td>
</tr>
[% END %]
</tbody>
</table>
</div>
[% END %]

<div id="OtherFormats">
<h3>Other formats</h3>
[% IF formats.0 %]
<table class="list">
<thead>
<tr>
 <th>Format</th>
 <th>Version</th>
 <th>Build</th>
 <th>Architecture</th>
 <th>Date/Time</th>
 <th>Size</th>
 <th>Details</th>
</tr>
</thead>
<tbody>
[% FOREACH pack = formats %]
[% IF pack.security_fix %]
<tr class="security_fix">
[% ELSE %]
<tr>
[% END %]
 <td>[% pack.slackver.name FILTER html %]</td>
 <td>[% pack.version FILTER html %]</td>
 <td>[% pack.build FILTER html %]</td>
 <td>[% pack.arch.name FILTER html %]</td>
 <td>[% date.format(pack.filedate) FILTER html  %]</td>
 <td>[% pack.filesize | format_bytes %] ([% pack.filesize | format_number %] <abbr title="Bytes">B</abbr>)</td>
 <td>[% IF pack.status == 'del' %]Deleted[% ELSE %]<a href="pack.cgi?id=[% pack.id FILTER html %]">View</a>[% END %]</td>
</tr>
[% END %]
</tbody>
</table>
[% ELSE %]
<p>No other formats of this package exist.</p>
[% END %]
</div>
[% ELSIF pack.status == 'old' %]
<h2>Package <em>[% pack.title FILTER html %] [%+ pack.version %] for [% pack.arch.name %][% IF pack.build > 1 %] ([% pack.build %])[% END %]</em></h2>
<p class="warn_box">This package is <strong>not recomended</strong>! It was
obsoleted by a new package build or new software release. Thus the software
included in this package may include unpatched problems of any kind. It is
<em>strongly advised</em> to use the <a href="search.cgi?name=[% pack.name %]&amp;lo=1">latest packages</a>
for this software. Otherwise proceed and <a href="pack.cgi?id=[% pack.id %]&amp;w=1">use
it</a> <strong>on YOUR OWN RISK!!!</strong></p>

[% ELSIF pack.status == 'del' %]
[% recovery_mailto = "gdsotirovNOSPAM@dir.bg?subject=" _ slackpack.name _ ": Package recovery request for &#035;" _ pack.id _ " (" _ pack.filename _ ")" %]
<h2>Package <em>[% pack.title FILTER html %] [%+ pack.version %] for [% pack.arch.name %][% IF pack.build > 1 %] ([% pack.build %])[% END %]</em></h2>
<h3>Sorry, package deleted</h3>
<p class="text">This package is <strong>no longer available</strong>! It was
removed from the repository most probably because it was wrongly built or
the bundled in software had security issues. You can <a
href="search.cgi?name=[% pack.name FILTER html %]">search</a> for other packages of this
software. And if you (for some reason) really need to get it please <a
href="mailto:[% recovery_mailto FILTER url %]">write
to the site maintainer</a>, but remember there is <em>no any guarantee of
recovery</em>!</p>
[% END %]
</div>
</div>

[% PROCESS global/footer.html.tmpl %]

