[%# $Id: package.html.tmpl,v 1.42 2007/01/09 20:40:14 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  pack - package data
  #  history - package history
  #  formats - other package formats
  #
  #%]

[% USE date(format = '%Y-%m-%d/%H:%M:%S', locale = 'en_US', gmt = 0) %]
[% USE Number.Format(THOUSANDS_SEP = ' ',
                     DECIMAL_POINT = '.',
                     DECIMAL_DIGITS = 2,
                     KILO_SUFFIX = ' <abbr title="Kilo Bytes">KB</abbr>',
                     MEGA_SUFFIX = ' <abbr title="Mega Bytes">MB</abbr>',
                     GIGA_SUFFIX = ' <abbr title="Giga Bytes">GB</abbr>') %]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "SlackPack: Package details for " _ pack.title _ " " _ pack.version
   feeds = lb_feeds
 %]

<div id="Content">

[% PROCESS global/leftbar.html.tmpl %]

<div id="Main">
<h2>Package details for <em>[% pack.title FILTER html %] [%+ pack.version %]</em></h2>
<div id="Package">
<p><strong>Name</strong>: [% pack.name FILTER html %]<br />
<strong>Version</strong>: [% pack.version FILTER html %]<br />
[% IF pack.releasedate != '0000-00-00' %]
<strong>Release date</strong>: [% pack.releasedate FILTER html %]<br />
[% END %]
<strong>Build</strong>: [% pack.build FILTER html %]</p>
<p><strong>Homepage</strong>: <a href="[% pack.url FILTER html %]">Visit</a></p>
<p class="text">[% pack.description FILTER desc_html %]</p>
<p>
<strong>License</strong>: [% IF pack.license.url %]<a href="[% pack.license.url %]">[% END %][% pack.license.name %][% IF pack.license.url %]</a>[% END %]<br />
<strong>Architecture</strong>: [% pack.arch.name FILTER html %]<br />
<strong>Format</strong>: [% pack.slackver.name FILTER html %]<br />
<strong>Category</strong>: [% pack.category.name FILTER html %]<br />
<strong>SlackBuild</strong>: [% IF pack.slackbuild == 'yes' %]Yes, included[% ELSE %]No[% END %]<br />
<strong>From binary release</strong>: [% IF pack.frombinary == 'yes' %]Yes, only packaged[% ELSE %]No[% END %]</p>
</div>

<div id="RightBar">
<div id="File">
<h2>File info</h2>
<p><strong>Filename</strong>: [% pack.filename FILTER html %]<br />
<strong>Filesize</strong>: [% pack.filesize | format_bytes %] ([% pack.filesize | format_number %] <abbr title="Bytes">B</abbr>)<br />
<strong>MD5 Hash</strong>: [% pack.filemd5 FILTER html %]<br />
<strong>Date/Time</strong>: [% date.format(pack.filedate) FILTER html %]<br />
<strong>Contents</strong>: <a href="pack.cgi?id=[% pack.id %]&amp;dump=true">View</a></p>
</div>

<div id="Download">
<h2>Download</h2>
<p><strong><abbr title="Hyper Text Transfer Protocol">HTTP</abbr></strong>: <a href="http://ftp.sotirov-bg.net[% pack.fileurl FILTER html %]">Download</a><br />
<strong><abbr title="File Transfer Protocol">FTP</abbr></strong>: <a href="ftp://sotirov-bg.net[% pack.fileurl FILTER html %]">Download</a>
</p>
</div>
</div>

[% IF history.0 %]
<div id="History">
<h3>Package history</h3>
<table class="list">
<thead>
<tr>
<th>Version</th>
<th>Build</th>
<th>Date/Time</th>
<th>Size</th>
<th>Details</th>
</tr>
</thead>
<tbody>
[% FOREACH pack = history %]
<tr>
<td>[% pack.version FILTER html %]</td>
<td>[% pack.build FILTER html %]</td>
<td>[% date.format(pack.filedate) FILTER html  %]</td>
<td>[% pack.filesize | format_bytes %] ([% pack.filesize | format_number %] <abbr title="Bytes">B</abbr>)</td>
<td><a href="pack.cgi?id=[% pack.id FILTER html %]">View</a></td>
</tr>
[% END %]
</tbody>
</table>
</div>
[% END %]

<div id="Formats">
<h3>Other formats</h3>
[% IF formats.0 %]
<table class="list">
<thead>
<tr>
<th>Format</th>
<th>Version</th>
<th>Build</th>
<th>Architecture</th>
<th>Date/Time</th>
<th>Size</th>
<th>Details</th>
</tr>
</thead>
<tbody>
[% FOREACH pack = formats %]
<tr>
<td>[% pack.slackver.name FILTER html %]</td>
<td>[% pack.version FILTER html %]</td>
<td>[% pack.build FILTER html %]</td>
<td>[% pack.arch.name FILTER html %]</td>
<td>[% date.format(pack.filedate) FILTER html  %]</td>
<td>[% pack.filesize | format_bytes %] ([% pack.filesize | format_number %] <abbr title="Bytes">B</abbr>)</td>
<td><a href="pack.cgi?id=[% pack.id FILTER html %]">View</a></td>
</tr>
[% END %]
</tbody>
</table>
[% ELSE %]
<p>No other formats for this package exist.</p>
[% END %]
</div>
</div>

</div>

[% PROCESS global/footer.html.tmpl %]

