[%# $Id: category.atom.tmpl,v 1.3 2006/10/04 19:12:07 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest packages in category
  #  category - information about the category
  #
  #%]

[% USE date %]

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/css" href="http://sotirov-bg.net/slackpack/style/atom.css"?>
<feed xml:lang="bg" xmlns="http://www.w3.org/2005/Atom">
  <id>http://sotirov-bg.net/slackpack/</id>
  <title>SlackPack - Latest in [% category.name FILTER xml %]</title>
  <link href="http://sotirov-bg.net/slackpack/search.cgi?cat=[% category.id %]" rel="alternate" type="text/html"/>
  <link href="http://sotirov-bg.net/slackpack/feed.cgi?q=cat&amp;cat=[% category.id %]&amp;f=atom" rel="self" type="application/atom+xml"/>
  <icon>http://sotirov-bg.net/slackpack/img/slackpack</icon>
  <updated>[% date.format(format=>"%Y-%m-%dT%H:%M:%SZ", time=>items.0.filedate, gmt=>1) FILTER xml %]</updated>

  <author>
    <name>Georgi D. Sotirov</name>
    <uri>http://sotirov-bg.net/~gsotirov/</uri>
    <email>gsotirov@sotirov-bg.net</email>
  </author>
  <rights>Copyright (c) 2004-2006 Georgi D. Sotirov</rights>
  <generator uri="http://sotirov-bg.net/slackpack/" version="[% slackpack.version %]">SlackPack</generator>

  [% FOREACH item = items %]
  <entry>
    <id>http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.id %]</id>
    <title type="html">[% item.name FILTER xml %]-[% item.version FILTER xml %]-[% item.build FILTER xml %]</title>
    <link href="http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.id %]" rel="alternate" type="text/html"/>
    <author>
      <name>[% item.afirstname FILTER xml %] [% item.aname FILTER xml %]</name>
      <email>[% item.aemail FILTER xml %]</email>
    </author>
    <content>
      Architecture: [% item.arch FILTER xml %]
      Slackware: [% item.slack FILTER xml %]
      Description: [% item.desc FILTER xml %]
    </content>
    <published>[% date.format(format=>"%Y-%m-%dT%H:%M:%SZ", time=>item.filedate, gmt=>1) FILTER xml %]</published>
    <updated>[% date.format(format=>"%Y-%m-%dT%H:%M:%SZ", time=>item.filedate, gmt=>1) FILTER xml %]</updated>
  </entry>
  [% END %]
</feed>

