[%# $Id: category.rss.tmpl,v 1.6 2006/10/16 22:30:13 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest packages in category
  #  category - information about the category
  #
  #%]

[% USE date(format = '%a, %e %b %Y %T GMT', locale = 'en_US', gmt = 1) %]

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="http://sotirov-bg.net/slackpack/style/rss.xsl"?>
<?xml-stylesheet type="text/css" href="http://sotirov-bg.net/slackpack/style/rss.css"?>
<rss version="2.0" xmlns:blogChannel="http://backend.userland.com/blogChannelModule">
  <channel>
    <title>SlackPack - Latest in [% category.name %]</title>
    <link>http://sotirov-bg.net/slackpack/</link>
    <description>Latest packages in category [% category.name FILTER xml %]</description>
    <language>en</language>

    <copyright>Copyright (c) 2005-2006 [% slackpack.author.name FILTER xml %]</copyright>
    <pubDate>[% date.format(items.0.filedate) FILTER xml %]</pubDate>
    <lastBuildDate>[% date.format(lastbuild) FILTER xml %]</lastBuildDate>
    <managingEditor>[% slackpack.author.email FILTER xml %] ([% slackpack.author.name FILTER xml %])</managingEditor>
    <webMaster>[% slackpack.author.email FILTER xml %] ([% slackpack.author.name FILTER xml %])</webMaster>
    <generator>SlackPack [% slackpack.version FILTER xml %]</generator>

    <image>
      <title>SlackPack</title>
      <url>http://sotirov-bg.net/slackpack/img/slackpack</url>
      <link>http://sotirov-bg.net/slackpack/</link>
    </image>

    [% FOREACH item = items %]
    <item>
      <title>[% item.name FILTER xml %]-[% item.version FILTER xml %]-[% item.build FILTER xml %]</title>
      <link>http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.id FILTER xml %]</link>
      <description>Architecture: [% item.arch FILTER xml %]&lt;br /&gt;
      Slackware: [% item.slack FILTER xml %]&lt;br /&gt;
      Description: [% item.desc FILTER xml %]</description>
      <author>[% item.aemail FILTER xml %] ([% item.afirstname FILTER xml %] [%+ item.aname FILTER xml %])</author>
      <guid isPermaLink="true">http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.id FILTER xml %]</guid>
      <pubDate>[% date.format(item.filedate) FILTER xml %]</pubDate>
    </item>
    [% END %]
  </channel>
</rss>

