[%# $Id: category.rdf.tmpl,v 1.5 2006/11/10 22:14:05 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest packages in category
  #  category - information about the category
  #
  #%]

[% USE date(format = '%Y-%m-%dT%H:%M:%S+00:00', locale = 'en_US', gmt = 1) %]

<rdf:RDF xmlns="http://purl.org/rss/1.0/"
         xmlns:admin="http://webns.net/mvcb/"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns:taxo="http://purl.org/rss/1.0/modules/taxonomy/">

 <channel rdf:about="http://sotirov-bg.net/slackpack/">
  <title>SlackPack - Latest in [% category.name FILTER xml %]</title>
  <link>http://sotirov-bg.net/slackpack/search.cgi?cat=[% category.id FILTER xml %]</link>
  <description>Latest packages in category [% category.name FILTER xml %]</description>
  <dc:language>en</dc:language>
  <dc:rights>Copyright (c) 2005-2006 [% slackpack.author.name FILTER xml %]</dc:rights>

  <dc:date>[% date.format(items.0.filedate) FILTER xml %]</dc:date>
  <dc:publisher>[% slackpack.author.email FILTER xml %] ([% slackpack.author.name FILTER xml %])</dc:publisher>
  <dc:creator>[% slackpack.author.email FILTER xml %] ([% slackpack.author.name FILTER xml %])</dc:creator>
  <syn:updatePeriod>daily</syn:updatePeriod>
  <syn:updateFrequency>1</syn:updateFrequency>
  <syn:updateBase>2005-01-01T00:00+00:00</syn:updateBase>

  <items>
   <rdf:Seq>
    [% FOREACH item = items %]
    <rdf:li rdf:resource="http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.id %]"/>
    [% END %]
   </rdf:Seq>
  </items>

  <image rdf:resource="http://sotirov-bg.net/slackpack/img/slackpack"/>
 </channel>

 <image rdf:about="http://sotirov-bg.net/slackpack/img/slackpack">
  <title>SlackPack</title>
  <url>http://sotirov-bg.net/slackpack/img/slackpack</url>
  <link>http://sotirov-bg.net/slackpack/</link>
  <dc:creator>[% slackpack.author.name FILTER xml %] &lt;[% slackpack.author.email FILTER xml %]&gt;</dc:creator>
 </image>

 [% FOREACH item = items %]
 <item rdf:about="http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.id FILTER xml %]">
  <title>[% item.name FILTER xml %]-[% item.version FILTER xml %]-[% item.build FILTER xml %]</title>
  <link>http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.id FILTER xml %]</link>
  <description>&lt;strong&gt;Architecture&lt;/strong&gt;: [% item.arch FILTER xml %]&lt;br /&gt;
  &lt;strong&gt;Format&lt;/strong&gt;: [% item.slack FILTER xml %]&lt;br /&gt;
  &lt;strong&gt;Description&lt;/strong&gt;: [% item.desc FILTER desc %]</description>
  <dc:source>http://sotirov-bg.net/slackpack/</dc:source>
  <dc:creator>[% item.afirstname FILTER xml %] [%+ item.aname FILTER xml %] ([% item.aemail FILTER xml %])</dc:creator>
  <dc:date>[% date.format(item.filedate) FILTER xml %]</dc:date>
  <dc:format>text/plain</dc:format>
 </item>
 [% END %]
</rdf:RDF>
