[%# $Id: latest.atom.tmpl,v 1.1 2006/09/25 22:00:41 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest 25 packages
  #
  #%]

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/css" href="style/atom.css"?>
<feed xml:lang="bg" xmlns="http://www.w3.org/2005/Atom">
  <id>http://sotirov-bg.net/slackpack/</id>
  <title>SlackPack - Latest packages</title>
  <link href="http://sotirov-bg.net/slackpack/" rel="alternate" type="text/html"/>
  <link href="http://sotirov-bg.net/slackpack/feed.cgi?q=latest&amp;type=atom" rel="self" type="application/atom+xml"/>
  <icon>/slackpack/img/slackpack</icon>
  <updated>[% items.0.Date %]T[% items.0.Time %]</updated>

  <author>
    <name>Georgi D. Sotirov</name>
    <uri>http://sotirov-bg.net/~gsotirov/</uri>
    <email>gsotirov@sotirov-bg.net</email>
  </author>
  <rights>Copyright (c) 2004-2006 Georgi D. Sotirov</rights>
  <generator uri="http://sotirov-bg.net/slackpack/" version="[% slackpack.version %]">SlackPack</generator>

  [% FOREACH item = items %]
  <entry>
    <id>http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.Id %]</id>
    <title type="html">[% item.Name %]-[% item.Version %]-[% item.Build %]</title>
    <link href="http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.Id %]" rel="alternate" type="text/html"/>
    <author>
      <name>[% item.Author %]</name>
      <email>[% item.AuthorEmail %]</email>
    </author>
    <content>
      Architecture: [% item.Architecture %]
      Slackware: [% item.Slack %]
      Description: [% item.Description %]
    </content>
    <published>[% item.Date %]T[% item.Time %]</published>
    <updated>[% item.Date %]T[% item.Time %]</updated>
  </entry>
  [% END %]
</feed>

