[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2020  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest packages
  #  query - query string
  #  arch  - packages' architecture
  #
  #%]

[% USE date(format = '%Y-%m-%dT%H:%M:%S+00:00', locale = 'en_US', gmt = 1) %]

<rdf:RDF xmlns="http://purl.org/rss/1.0/"
         xmlns:admin="http://webns.net/mvcb/"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns:taxo="http://purl.org/rss/1.0/modules/taxonomy/">

 <channel rdf:about="[% slackpack.home_url FILTER xml %]">
  <title>[% slackpack.name FILTER xml %] - Latest packages[% " " _  arch FILTER xml IF arch %]</title>
  <link>[% slackpack.home_url FILTER xml %]</link>
  <description>Latest packages[% " " _ arch FILTER xml IF arch %] in [% slackpack.name FILTER xml %]</description>
  <dc:language>en</dc:language>
  <dc:rights>[% slackpack.copyright FILTER xml %]</dc:rights>

  <dc:date>[% date.format(items.0.filedate) FILTER xml %]</dc:date>
  <dc:publisher>[% slackpack.author.email FILTER xml %] ([% slackpack.author.name FILTER xml %])</dc:publisher>
  <dc:creator>[% slackpack.author.email FILTER xml %] ([% slackpack.author.name FILTER xml %])</dc:creator>
  <syn:updatePeriod>daily</syn:updatePeriod>
  <syn:updateFrequency>1</syn:updateFrequency>
  <syn:updateBase>2005-01-01T00:00+00:00</syn:updateBase>

  <items>
   <rdf:Seq>
    [% FOREACH item = items %]
    <rdf:li rdf:resource="[% slackpack.home_url FILTER xml %]/pack.cgi?id=[% item.id FILTER xml %]"/>
    [% END %]
   </rdf:Seq>
  </items>

  <image rdf:resource="[% slackpack.home_url FILTER xml %]/img/slackpack"/>
 </channel>

 <image rdf:about="[% slackpack.home_url FILTER xml %]/img/slackpack">
  <title>[% slackpack.name FILTER xml %]</title>
  <url>[% slackpack.home_url FILTER xml %]/img/slackpack</url>
  <link>[% slackpack.home_url FILTER xml %]</link>
  <dc:creator>[% slackpack.author.name FILTER xml %] &lt;[% slackpack.author.email FILTER xml %]&gt;</dc:creator>
 </image>

 [% FOREACH item = items %]
 <item rdf:about="[% slackpack.home_url FILTER xml %]/pack.cgi?id=[% item.id FILTER xml %]">
  <title>[% item.name FILTER xml %]-[% item.version FILTER xml %]-[% item.arch.id FILTER xml %]-[% item.build FILTER xml %] for [% item.slackver.name %][% IF item.security_fix %] (* Security fix *)[% END %]</title>
  <link>[% slackpack.home_url FILTER xml %]/pack.cgi?id=[% item.id %]</link>
  <description>
    [% PROCESS feed/pkginfo.xml.tmpl %]
  </description>
  <dc:source>[% slackpack.home_url FILTER xml %]</dc:source>
  <dc:creator>[% item.author.firstname FILTER xml %] [%+ item.author.name FILTER xml %] ([% item.author.email FILTER xml %])</dc:creator>
  <dc:date>[% date.format(item.filedate) FILTER xml %]</dc:date>
  <dc:format>text/plain</dc:format>
 </item>
 [% END %]
</rdf:RDF>

