[%# $Id: latest.rss.tmpl,v 1.2 2006/09/27 19:42:12 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest 25 packages
  #  lastbuild - build date of the feed
  #
  #%]

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="http://sotirov-bg.net/slackpack/style/rss.xsl"?>
<?xml-stylesheet type="text/css" href="http://sotirov-bg.net/slackpack/style/rss.css"?>
<rss version="2.0" xmlns:blogChannel="http://backend.userland.com/blogChannelModule">
  <channel>
    <title>SlackPack - Latest packages</title>
    <link>http://sotirov-bg.net/slackpack/</link>
    <description>Latest packages in SlackPack</description>
    <language>en</language>

    <copyright>Copyright (c) 2004-2006 Georgi D. Sotirov</copyright>
    <pubDate>[% items.0.Date %] [% items.0.Time %] EET</pubDate>
    <lastBuildDate>[% lastbuild %]</lastBuildDate>
    <managingEditor>gsotirov@sotirov-bg.net (Georgi D. Sotirov)</managingEditor>
    <webMaster>gsotirov@sotirov-bg.net (Georgi D. Sotirov)</webMaster>
    <generator>SlackPack [% slackpack.version %]</generator>

    <image>
      <title>SlackPack</title>
      <url>http://sotirov-bg.net/slackpack/img/slackpack</url>
      <link>http://sotirov-bg.net/slackpack/</link>
    </image>

    [% FOREACH item = items %]
    <item>
      <title>[% item.Name %]-[% item.Version %]-[% item.Build %]</title>
      <link>http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.Id %]</link>
      <description>
        Architecture: [% item.Architecture %]
        Slackware: [% item.Slack %]
        Description: [% item.Description %]
      </description>
      <author>[% item.AuthorEmail %] ([% item.Author %])</author>
      <guid isPermaLink="true">http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.Id %]</guid>
      <pubDate>[% item.Date %] [% item.Time %]</pubDate>
    </item>
    [% END %]
  </channel>
</rss>


