[%# $Id: latest.rss.tmpl,v 1.11 2006/11/10 23:57:05 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest packages
  #  lastbuild - build date of the feed
  #
  #%]

[% USE date(format = '%a, %e %b %Y %T GMT', locale = 'en_US', gmt = 1) %]

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="http://sotirov-bg.net/slackpack/style/rss.xsl"?>
<?xml-stylesheet type="text/css" href="http://sotirov-bg.net/slackpack/style/rss.css"?>
<rss version="2.0" xmlns:blogChannel="http://backend.userland.com/blogChannelModule">
  <channel>
    <title>SlackPack - Latest packages</title>
    <link>http://sotirov-bg.net/slackpack/</link>
    <description>Latest packages in SlackPack</description>
    <language>en</language>

    <copyright>Copyright (c) 2005-2006 [% slackpack.author.name %]</copyright>
    <pubDate>[% date.format(items.0.Date) FILTER xml %]</pubDate>
    <lastBuildDate>[% date.format(lastbuild) FILTER xml %]</lastBuildDate>
    <managingEditor>[% slackpack.author.email %] ([% slackpack.author.name %])</managingEditor>
    <webMaster>[% slackpack.author.email %] ([% slackpack.author.name %])</webMaster>
    <generator>SlackPack [% slackpack.version %]</generator>

    <image>
      <title>SlackPack</title>
      <url>http://sotirov-bg.net/slackpack/img/slackpack</url>
      <link>http://sotirov-bg.net/slackpack/</link>
    </image>

    [% FOREACH item = items %]
    <item>
      <title>[% item.Name FILTER xml %]-[% item.Version FILTER xml %]-[% item.Arch FILTER xml %]-[% item.Build FILTER xml %]</title>
      <link>http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.Id %]</link>
      <description>[% FILTER xml %]
        <p><strong>Name</strong>: [% item.Name %]<br />
          <strong>Version</strong>: [% item.Version %]<br />
          <strong>Build</strong>: [% item.Build %]</p>
        <p><strong>License</strong>: [% item.License %]</p>
        <p><strong>Architecture</strong>: [% item.Architecture %]<br />
          <strong>Format</strong>: [% item.Slack %]</p>
        <p><strong>Description</strong>:[% END %] [%+ item.Description FILTER desc %][% FILTER xml %]</p>
        <p><strong>Download</strong>:
          <a href="ftp://sotirov-bg.net[% item.FileURL %]">
            <abbr title="File Transfer Protocol">FTP</abbr></a>,
          <a href="http://ftp.sotirov-bg.net[% item.FileURL %]">
            <abbr title="Hyper Text Transfer Protocol">HTTP</abbr></a></p>
      [% END %]
      </description>
      <author>[% item.AuthorEmail FILTER xml %] ([% item.AuthorFirstName FILTER xml %] [%+ item.AuthorName FILTER xml %])</author>
      <guid isPermaLink="true">http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.Id FILTER xml %]</guid>
      <pubDate>[% date.format(item.Date) FILTER xml %]</pubDate>
    </item>
    [% END %]
  </channel>
</rss>


