[%# $Id: news.atom.tmpl,v 1.4 2006/10/05 20:28:13 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - site news items
  #
  #%]

[% USE date %]

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/css" href="http://sotirov-bg.net/slackpack/style/atom.css"?>
<feed xml:lang="bg" xmlns="http://www.w3.org/2005/Atom">
  <id>http://sotirov-bg.net/slackpack/</id>
  <title>SlackPack News</title>
  <link href="http://sotirov-bg.net/slackpack/" rel="alternate" type="text/html"/>
  <link href="http://sotirov-bg.net/slackpack/feed.cgi?q=news" rel="self" type="application/atom+xml"/>
  <icon>http://sotirov-bg.net/slackpack/img/slackpack</icon>
  <updated>[% date.format(format=>"%Y-%m-%dT%H:%M:%SZ", time=>items.0.updated, gmt=>0) FILTER xml %]</updated>

  <author>
    <name>Georgi D. Sotirov</name>
    <uri>http://sotirov-bg.net/~gsotirov/</uri>
    <email>gsotirov@sotirov-bg.net</email>
  </author>
  <rights>Copyright (c) 2004-2006 Georgi D. Sotirov</rights>
  <generator uri="http://sotirov-bg.net/slackpack/" version="[% slackpack.version %]">SlackPack</generator>

  [% FOREACH item = items %]
  <entry>
    <id>http://sotirov-bg.net/slackpack/</id>
    <title>[% item.title FILTER xml %]</title>
    <link href="http://sotirov-bg.net/slackpack/" rel="alternate" type="text/html"/>
    <author>
      <name>[% item.firstname FILTER xml %] [%+ item.name FILTER xml %]</name>
      <email>[% item.email FILTER xml %]</email>
    </author>
    <content>[% item.body FILTER xml %]</content>
    <published>[% date.format(format=>"%Y-%m-%dT%H:%M:%SZ", time=>item.published, gmt=>1) FILTER xml %]</published>
    <updated>[% date.format(format=>"%Y-%m-%dT%H:%M:%SZ", time=>item.updated, gmt=>1) FILTER xml %]</updated>
  </entry>
  [% END %]
</feed>
