[%# $Id: slack.rdf.tmpl,v 1.1 2006/12/03 18:57:04 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest packages for Slackware version
  #  slackver - information about the Slackware version
  #
  #%]

[% USE date(format = '%Y-%m-%dT%H:%M:%S+00:00', locale = 'en_US', gmt = 1) %]

<rdf:RDF xmlns="http://purl.org/rss/1.0/"
         xmlns:admin="http://webns.net/mvcb/"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns:taxo="http://purl.org/rss/1.0/modules/taxonomy/">

 <channel rdf:about="http://sotirov-bg.net/slackpack/">
  <title>SlackPack - Latest for [% slackver.name FILTER xml %]</title>
  <link>http://sotirov-bg.net/slackpack/search.cgi?slack=[% slackver.id FILTER xml %]</link>
  <description>Latest packages in [% slackver.name FILTER xml %] format</description>
  <dc:language>en</dc:language>
  <dc:rights>Copyright (c) 2005-2006 [% slackpack.author.name FILTER xml %]</dc:rights>

  <dc:date>[% date.format(items.0.filedate) FILTER xml %]</dc:date>
  <dc:publisher>[% slackpack.author.email FILTER xml %] ([% slackpack.author.name FILTER xml %])</dc:publisher>
  <dc:creator>[% slackpack.author.email FILTER xml %] ([% slackpack.author.name FILTER xml %])</dc:creator>
  <syn:updatePeriod>daily</syn:updatePeriod>
  <syn:updateFrequency>1</syn:updateFrequency>
  <syn:updateBase>2005-01-01T00:00+00:00</syn:updateBase>

  <items>
   <rdf:Seq>
    [% FOREACH item = items %]
    <rdf:li rdf:resource="http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.id %]"/>
    [% END %]
   </rdf:Seq>
  </items>

  <image rdf:resource="http://sotirov-bg.net/slackpack/img/slackpack"/>
 </channel>

 <image rdf:about="http://sotirov-bg.net/slackpack/img/slackpack">
  <title>SlackPack</title>
  <url>http://sotirov-bg.net/slackpack/img/slackpack</url>
  <link>http://sotirov-bg.net/slackpack/</link>
  <dc:creator>[% slackpack.author.name FILTER xml %] &lt;[% slackpack.author.email FILTER xml %]&gt;</dc:creator>
 </image>

 [% FOREACH item = items %]
 <item rdf:about="http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.id FILTER xml %]">
  <title>[% item.name FILTER xml %]-[% item.version FILTER xml %]-[% item.arch.id FILTER xml %]-[% item.build FILTER xml %]</title>
  <link>http://sotirov-bg.net/slackpack/pack.cgi?id=[% item.id FILTER xml %]</link>
  <description>[% FILTER xml %]
    <p><strong>Name</strong>: [% item.name %]<br />
       <strong>Version</strong>: [% item.version %]<br />
       <strong>Build</strong>: [% item.build %]</p>
    <p><strong>License</strong>: [% item.license.name %]</p>
    <p><strong>Architecture</strong>: [% item.arch.name %]<br />
       <strong>Format</strong>: [% item.slackver.name %]</p>
    <p><strong>Description</strong>:[% END %] [%+ item.description FILTER desc_xml %][% FILTER xml %]</p>
    <p><strong>Download</strong>:
       <a href="ftp://sotirov-bg.net[% item.fileurl %]">
       <abbr title="File Transfer Protocol">FTP</abbr></a>,
       <a href="http://ftp.sotirov-bg.net[% item.fileurl %]">
       <abbr title="Hyper Text Transfer Protocol">HTTP</abbr></a></p>
    [% END %]
  </description>
  <dc:source>http://sotirov-bg.net/slackpack/</dc:source>
  <dc:creator>[% item.author.firstname FILTER xml %] [%+ item.author.name FILTER xml %] ([% item.author.email FILTER xml %])</dc:creator>
  <dc:date>[% date.format(item.filedate) FILTER xml %]</dc:date>
  <dc:format>text/plain</dc:format>
 </item>
 [% END %]
</rdf:RDF>
