[%# $Id: slack.atom.tmpl,v 1.8 2018/05/19 15:41:13 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2018  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest packages for Slackware version
  #  slackver - information about the Slackware version
  #
  #%]

[% USE date(format = '%Y-%m-%dT%H:%M:%SZ', locale = 'en_US', gmt = 1) %]

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/css" href="[% slackpack.home_url FILTER xml %]/style/atom.css"?>
<feed xml:lang="en" xmlns="http://www.w3.org/2005/Atom">
  <id>[% slackpack.home_url FILTER xml %]</id>
  <title>[% slackpack.name FILTER xml %] - Latest packages for [% slackver.name FILTER xml %]</title>
  <link href="[% slackpack.home_url FILTER xml %]/search.cgi?slack=[% slackver.id %]" rel="alternate" type="text/html"/>
  <link href="[% slackpack.home_url FILTER xml %]/feed.cgi?slack=[% slackver.id %]&amp;f=atom" rel="self" type="application/atom+xml"/>
  <icon>[% slackpack.home_url FILTER xml %]/img/slackpack</icon>
  <updated>[% date.format(items.0.filedate) FILTER xml %]</updated>

  <author>
    <name>[% slackpack.author.name FILTER xml %]</name>
    <uri>[% slackpack.author.url FILTER xml %]</uri>
    <email>[% slackpack.author.email FILTER xml %]</email>
  </author>
  <rights>[% slackpack.copyright FILTER xml %]</rights>
  <generator uri="[% slackpack.home_url FILTER xml %]" version="[% slackpack.version FILTER xml %]">[% slackpack.name FILTER xml %]</generator>

  [% FOREACH item = items %]
  <entry>
    <id>[% slackpack.home_url FILTER xml %]/pack.cgi?id=[% item.id FILTER xml %]</id>
    <title>[% item.name FILTER xml %]-[% item.version FILTER xml %]-[% item.arch.id FILTER xml %]-[% item.build FILTER xml %][% IF item.security_fix %] (* Security fix *)[% END %]</title>
    <link href="[% slackpack.home_url FILTER xml %]/pack.cgi?id=[% item.id FILTER xml %]" rel="alternate" type="text/html"/>
    <author>
      <name>[% item.author.firstname FILTER xml %] [%+ item.author.name FILTER xml %]</name>
      <email>[% item.author.email FILTER xml %]</email>
    </author>
    <content type="html">
      [% PROCESS feed/pkginfo.xml.tmpl %]
    </content>
    <published>[% date.format(item.filedate) FILTER xml %]</published>
    <updated>[% date.format(item.filedate) FILTER xml %]</updated>
  </entry>
  [% END %]
</feed>

