[%# $Id: vendor.rss.tmpl,v 1.4 2018/05/19 15:17:27 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2018  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest packages list for vendor
  #  vendor - information about the vendor
  #  slackpack - global information
  #
  #%]

[% USE date(format = '%a, %d %b %Y %T GMT', locale = 'en_US', gmt = 1) %]

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="[% slackpack.home_url FILTER xml %]/style/rss.xsl"?>
<?xml-stylesheet type="text/css" href="[% slackpack.home_url FILTER xml %]/style/rss.css"?>
<rss version="2.0" xmlns:blogChannel="http://backend.userland.com/blogChannelModule">
  <channel>
    <title>[% slackpack.name FILTER xml %] - Latest from [% vendor.name FILTER xml %]</title>
    <link>[% slackpack.home_url FILTER xml %]</link>
    <description>Latest packages from vendor [% vendor.name FILTER xml %]</description>
    <language>en</language>

    <copyright>[% slackpack.copyright FILTER xml %]</copyright>
    <pubDate>[% date.format(items.0.filedate) FILTER xml %]</pubDate>
    <lastBuildDate>[% date.format(lastbuild) FILTER xml %]</lastBuildDate>
    <managingEditor>[% slackpack.author.email FILTER xml %] ([% slackpack.author.name FILTER xml %])</managingEditor>
    <webMaster>[% slackpack.author.email FILTER xml %] ([% slackpack.author.name FILTER xml %])</webMaster>
    <generator>[% slackpack.name FILTER xml %] [% slackpack.version FILTER xml %]</generator>

    <image>
      <title>[% slackpack.name FILTER xml %]</title>
      <url>[% slackpack.home_url FILTER xml %]/img/slackpack</url>
      <link>[% slackpack.home_url FILTER xml %]</link>
    </image>

    [% FOREACH item = items %]
    <item>
      <title>[% item.name FILTER xml %]-[% item.version FILTER xml %]-[% item.arch.id FILTER xml %]-[% item.build FILTER xml %] for [% item.slackver.name FILTER xml %][% IF item.security_fix %] (* Security fix *)[% END %]</title>
      <link>[% slackpack.home_url FILTER xml %]/pack.cgi?id=[% item.id FILTER xml %]</link>
      <description>
        [% PROCESS feed/pkginfo.xml.tmpl %]
      </description>
      <author>[% item.author.email FILTER xml %] ([% item.author.firstname FILTER xml %] [%+ item.author.name FILTER xml %])</author>
      <guid isPermaLink="true">[% slackpack.home_url FILTER xml %]/pack.cgi?id=[% item.id FILTER xml %]</guid>
      <pubDate>[% date.format(item.filedate) FILTER xml %]</pubDate>
    </item>
    [% END %]
  </channel>
</rss>

