[%# $Id: repository.html.tmpl,v 1.5 2018/03/12 21:57:13 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2019  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[% # Interface:
   #
   # mirrors - Mirrors information
   # formats - Slackware versions
   #
 %]

[% title = "Достъп до хранилища" %]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "Достъп до хранилища"
   feeds = lb_feeds
 %]

<div id="Content">

[% PROCESS global/leftbar.html.tmpl %]

<main>
<h2>Достъп до хранилища</h2>

<section id="Why">
<h3>Защо?</h3>
<p class="text">Докато този сайт трябва да бъде полезен за всички потребители
предоставяйки търсене, пълна информация за пакетите и изтегляне, повечето
професионалисти и системни администратори ще предпочетат да използват агенти
за автоматично обновяване на техните системи. Затова пакетите описани тук
са организирани в структура със служебна информация предвидена за автоматизирани
инструменти, които улесняват всички задачи по обновяване на стари или инсталиране
на нови пакети.</p>
</section>

<section id="Tools">
<h3>Инструменти</h3>
<p class="text">За да използвате автоматично обновяване от [% slackpack.name %] хранилища
трябва да инсталирате и конфигурирате (виж следваща секция) един
от следните инструменти:</p>
<ul>
<li><a href="http://software.jaos.org/#slapt-get">slapt-get</a>
    <img alt="ext^" src="img/extsite" title="Външна връзка" /> - Инструмент
    подобен на <a href="https://en.wikipedia.org/wiki/Advanced_Packaging_Tool">
    <abbr title="Advanced Packaging Tool">APT</abbr></a><img alt="ext^"
    src="img/extsite" title="Външна връзка" /> системата. [% slackpack.name %]
    хранилища поддържат някои от разширенията на slapt-get за зависимости
    между пакети.</li>
<li><a href="http://www.slackpkg.org/">Slackpkg</a>
    <img alt="ext^" src="img/extsite" title="Външна връзка" /> - Автоматизиран
    инструмент за управление на <a href="http://www.slackware.com/" hreflang="en">Slackware Linux</a>
    пакети. С добавката <a href="http://slakfinder.org/slackpkg+.html" hreflang="en">Slackpkg+</a>
    можете да ползвате хранилища на трети страни като [% slackpack.name %].</li>
<li><a href="https://sourceforge.net/projects/swaret/">SWareT</a>
    <img alt="ext^" src="img/extsite" title="Външна връзка" /> - The SlackWare
    Tool е основен инструмент за управление на пакети (остарял). Все още
    може да се ползва до Slackware 13.0 (виж <a href="pack.cgi?id=774">пакет</a>).</li>
</ul>
</section>

<section id="Configuration">
<h3>Конфигурация</h3>
<p class="text">Тази информация трябва да ви е достатъчна, за да настроите
правилно избрания от вас инструмент за обновяване на системата ви от [% slackpack.name %]
хранилищата. Първо трябва да изберете огледало близо до вас, и тогава
да използвате неговата конфигурация. Можете просто да копирате съответните
редове:</p>
<ul>
[% FOR mirror = mirrors %]
<li><strong><a href="[% mirror.home_url %]">[% mirror.name %]</a>
<img alt="ext^" src="img/extsite" title="Външна връзка" /></strong><br />
  [% FOR form = formats %]
  [%   IF form.packages > 0 AND form.id != 99999 %]
  <ul>
    <li>За <em>[% form.name %]</em>:<br />
      <ul>
        [% IF form.id <= 130 %]
        <li>В [/etc/]<strong>swaret.conf</strong>:<br />
        <code>
        [% FOR proto = mirror.protocols %]
        REPOS_ROOT=[% slackpack.name FILTER html %]%[% proto.url _ "slackware-" _  form.str FILTER html %] # by [% proto.protocol FILTER html %]<br />
        [% IF form.id >= 130 %]
          REPOS_ROOT=[% slackpack.name FILTER html %]%[% proto.url _ "slackware64-" _ form.str FILTER html %] # by [% proto.protocol FILTER html %] for 64bits<br />
        [% END %]
        [% END %]
        </code>
        </li>
        [% END %]
        <li>В [/etc/slapt-get/]<strong>slapt-getrc</strong>:<br />
        <code>
        [% FOR proto = mirror.protocols %]
        SOURCE=[% proto.url _ "slackware-" _ form.str FILTER html %] # by [% proto.protocol FILTER html %]<br />
        [% IF form.id >= 130 %]
          SOURCE=[% proto.url _ "slackware64-" _ form.str FILTER html %] # by [% proto.protocol FILTER html %] for 64bits<br />
        [% END %]
        [% END %]
        </code>
        </li>
        <li>В [/etc/slackpkg/]<strong>slackpkgplus.conf</strong>:<br />
        <code>
        [% FOR proto = mirror.protocols %]
        MIRRORPLUS['[% slackpack.name %]']=[% proto.url _ "slackware-" _ form.str FILTER html %] # by [% proto.protocol FILTER html %]<br />
        [% IF form.id >= 130 %]
          MIRRORPLUS['[% slackpack.name %]']=[% proto.url _ "slackware64-" _ form.str FILTER html %] # by [% proto.protocol FILTER html %]<br />
        [% END %]
        [% END %]
        </code>
        </li>
      </ul>
    </li>
  </ul>
  [%   END %]
  [% END %]
</li>
[% END %]
</ul>

<p class="text">Ако имате някакви проблеми с достъпа, моля не се притеснявайте
да пишете на <a href="mailto:[% slackpack.author.email FILTER email %]">[% slackpack.author.name FILTER html %]</a>.</p>
</section>
</main>

</div>

[% PROCESS global/footer.html.tmpl %]

