[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2023  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[% # Interface:
   #
   # dstrbtn_by_arch - table with package distribution by architecture
   # percent_sb - percent of the packages with build script
   # percent_binrel - percent of the packages created from binary releases
   #
 %]

[% title = "About" %]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "Относно"
   feeds = lb_feeds
 %]

<main>

[% PROCESS global/leftbar.html.tmpl %]

<section id="AboutSite">
<h2>За SlackPack</h2>
<p class="text">Това е сайта за <a href="http://www.slackware.com/"
target="_blank">Slackware</a>&nbsp;<img alt="ext^" src="img/extsite"
title="External site" /> пакети или просто <q>SlackPack</q>. Сайта беше
замислен като web интерфейс към <a href="http://www.slackware.com/"
target="_blank">Slackware</a>&nbsp;<img alt="ext^" src="img/extsite"
title="External site" /> хранилища с пакети, но порасна до нещо
повече от това. Софтуера вече предлага инструменти за управление на <a
href="http://www.slackware.com/" target="_blank">Slackware</a> хранилища.</p>

<p class="text">Идеята за сайта дойде на автора, когато той достигна близо
сто пакета, които искаше да направи по-управляеми, по-достъпни и
по-лесни за намиране. До тогава пакетите бяха поставени на
<abbr lang="en" title="File Transfer Protocol">FTP</abbr> сървър и някои от тях бяха
записани на <a href="https://web.archive.org/web/20120912051310/https://www.linuxpackages.net/search_view.php?cstat=17846"
target="_blank">linuxpackages</a>&nbsp;<img alt="ext^" src="img/extsite"
title="External site" />. Обаче, автора реши да създаде свой собствен сайт
и да публикува пакетите си главно там, но все още разчитайки на <a
href="https://web.archive.org/web/20120912051310/https://www.linuxpackages.net/" target="_blank">linuxpackages.net</a>
&nbsp;<img alt="ext^" src="img/extsite" title="External site" /> да
разпространява работата му.</p>

<p class="text">Авторът изгражда пакети от началото на 2005,
защото желаеше да запази Slackware системата си чиста и лесна за обновяване.
<a href="http://www.slackware.com/" target="_blank">Slackware</a>&nbsp;<img
alt="ext^" src="img/extsite" title="External site" /> е добра дистрибуция.
Но когато става въпрос за пакети не може да се очаква, че просто ще бъдат намерени
(както е например случая при rpm или deb базирани дистрибуции). Защото имам специфични
нужди и използвам повече програми от предоставените в официалните пакети. Затова, сега
правя пакети за всичко, което не е достъпно никъде другаде или имам нужда
от някаква специално функционалност, която не е налична в другите пакети. Аз
съм широко скроен човек, затова споделям пакетите си с всички с надеждата да бъдат
полезни.</p>

<p class="text">Амбицията на автора е винаги да изгражда добри пакети, въпреки че
няма <strong>никаква гаранция</strong>, че те ще работят за вас (и
нито дори за него :-). Повечето от пакетите са изградени за архитектура Intel 486 (
изключение правят пакетите от двоични версии - [% percent_binrel %] %).
Текущото разпределение е:</p>

<table id="DstrbtnByArch">
<caption>Разпределение на пакетите по архитектура</caption>
<thead>
<tr>
<th>Архитектура</th>
<th>Брой</th>
<th>Процент</th>
</tr>
</thead>
<tbody>
[% FOREACH line = dstrbtn_by_arch %]
<tr>
<td>[% line.Name %]</td>
<td>[% line.Packages %]</td>
<td>[% line.Percent %] %</td>
</tr>
[% END %]
</tbody>
</table>

<p class="text">Така в момента базата данни с пакети наброява
[%+ slackpack.packs.count %] пакета на около [% slackpack.packs.dcount %]
различни приложения. Когато започна да правя пакет на дадена програма,
можете да разчитате, че ще продължа да го правя при излизането на нови
версии. И винаги ще можете да намерите старите версии, както и най-новите.</p>

<p class="text">Пакетите ми най-общо следват изискванията на
<a href="https://web.archive.org/web/20120912051310/https://www.linuxpackages.net/"
target="_blank">linuxpackages.net</a>&nbsp;<img alt="ext^" src="img/extsite"
title="External site" />, като ползвам техния помощен системен скрипт за
писане на моите скриптове за изграждане. Текущо [% percent_sb %] % от пакетите ми
са произведени от скрипт за изграждане, но този процент ще се увеличи с времето,
защото всичките ми последни пакети са изградени със скрипт. Това прави нещата прозрачни
за потребителите и те могат дори да си изградят пакетите сами ако желаят.
Аз публикувам кода си и го включвам в пакетите.</p>

<p class="text">Пакетите винаги са изградени за конкретна <a target="_blank"
href="http://www.slackware.com/">Slackware</a>&nbsp;<img alt="ext^"
src="img/extsite" title="External site" /> официална версия, като по този
начин се подсигуряват набора от зависимости и работата на пакетите на
потребителските системи.</p>

<p class="text">Надявам се да харесате пакетите ми и да са ви полезни.<br />
Насладете се на сайта!<br /><br />Щастливо сърфиране ;-)</p>
</section>

</main>

[% PROCESS global/footer.html.tmpl %]

