[%# $Id: news.atom.tmpl,v 1.4 2018/05/19 15:25:24 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2018  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - site news items
  #
  #%]

[% USE date(format = '%Y-%m-%dT%H:%M:%SZ', locale = 'en_US', gmt = 1) %]

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/css" href="[% slackpack.home_url FILTER xml %]/style/atom.css"?>
<feed xml:lang="bg" xmlns="http://www.w3.org/2005/Atom">
  <id>[% slackpack.home_url FILTER xml %]</id>
  <title>[% slackpack.name FILTER xml %] Новини</title>
  <link href="[% slackpack.home_url FILTER xml %]/news.cgi" rel="alternate" type="text/html"/>
  <link href="[% slackpack.home_url FILTER xml %]/feed.cgi?q=news&amp;type=atom" rel="self" type="application/atom+xml"/>
  <icon>[% slackpack.home_url FILTER xml %]/img/slackpack</icon>
  <updated>[% date.format(items.0.updated) FILTER xml %]</updated>

  <author>
    <name>[% slackpack.author.name FILTER xml %]</name>
    <uri>[% slackpack.author.url FILTER xml %]</uri>
    <email>[% slackpack.author.email FILTER xml %]</email>
  </author>
  <rights>[% slackpack.copyright FILTER xml %]</rights>
  <generator uri="[% slackpack.home_url FILTER xml %]" version="[% slackpack.version FILTER xml %]">[% slackpack.name FILTER xml %]</generator>

  [% FOREACH item = items %]
  <entry>
    <id>[% slackpack.home_url FILTER xml %]/news.cgi?id=[% item.id FILTER xml %]</id>
    <title>[% item.title FILTER xml %]</title>
    <link href="[% slackpack.home_url FILTER xml %]/news.cgi?id=[% item.id FILTER xml %]" rel="alternate" type="text/html"/>
    <author>
      <name>[% item.author.firstname FILTER xml %] [%+ item.author.name FILTER xml %]</name>
      <email>[% item.author.email FILTER xml %]</email>
    </author>
    <content type="html">[% item.body FILTER xml %]</content>
    <published>[% date.format(item.published) FILTER xml %]</published>
    <updated>[% date.format(item.updated) FILTER xml %]</updated>
  </entry>
  [% END %]
</feed>
