[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2020  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  items - latest packages in category
  #
  #%]

[% FILTER xml %]
<p><strong>Име</strong>: [% item.name FILTER xml %]<br />
   <strong>Версия</strong>: [% item.version FILTER xml %]<br />
   <strong>Построение</strong>: [% item.build FILTER xml %]<br />
   <strong>Поправка по сигурността</strong>: [% IF item.security_fix %]<span style="color:red">Да</span>[% ELSE %]Не[% END %]</p>
<p><strong>Лиценз</strong>: [% item.license.name FILTER xml %]</p>
<p><strong>Архитектура</strong>: [% item.arch.name FILTER xml %]<br />
   <strong>Формат</strong>: [% item.slackver.name FILTER xml %]</p>
<p><strong>Описание</strong>:[% END %] [%+ item.description FILTER desc_xml %][% FILTER xml %]</p>
<p><strong>Изтегляне</strong>: <a href="[% slackpack.home_url FILTER xml %]/download.cgi?id=[% item.id %]">Избор на огледало</a></p>
[% END %]

