[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2020  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  error - error code
  #  error_msg - general error message
  #  vars - additional informations
  #
  #%]

[% DEFAULT title = slackpack.name _ " - Потребителска грешка" %]

[% PROCESS global/header.html.tmpl %]

<main>

<section>
<h2>Потребителска грешка</h2>
<p class="error">
[% IF error == "package_not_found" %]
  Не е намерен. Няма пакет с номер '[% id FILTER html %]'.

[% ELSIF error == "category_not_found" %]
  Не е намерен. Няма категория с номер '[% category FILTER html %]'.

[% ELSIF error == "no_search_terms" %]
  Няма термини за търсене. Моля, въведете някакви термини, за да стесните
  резултатите от търсенето.

[% ELSIF error == "invalid_identifier" %]
  Подали сте невалиден идентификатор ([% id FILTER html %]). Идентификатора
  е цяло положително число и/или ASCII текст.

[% ELSIF error == "invalid_num_identifier" %]
  Подали сте невалиден идентификатор ([% id FILTER html %]). Идентификатора
  е цяло положително число по-голямо от нула.

[% ELSIF error == "not_a_lp_user" %]
  Авторът "[% author FILTER html %]" НЕ е потребител на linuxpackages.net!

[% ELSE %]
  Възникна неизвестна грешка.
[% END %]
</p>

<!-- TODO: The name and mail address here needs to be of site's maintainer //-->
<p>Моля, върнете се и опитайте отново. Ако грешката се повтори тогава пратете
писмо на <a href="mailto:[% slackpack.author.email FILTER html %]">[% slackpack.author.name FILTER html %]</a>
с подробности за това какво правехте когато грешката се появи.</p>
</section>

</main>

[% PROCESS global/footer.html.tmpl%]
