[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2019  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  No spcific interface
  #
  #%]

<footer>
<div id="Foot">
<p class="nav">Навигация:
<a href="/slackpack/">Начало</a>&nbsp;|&nbsp;
<a href="news.cgi">Новини</a>&nbsp;|&nbsp;
<a href="search.cgi">Търсене</a>&nbsp;|&nbsp;
<!--<a href="login.cgi">Вход</a>&nbsp;|&nbsp;-->
<a href="about.cgi">Относно</a></p>
</div>
<div id="Copyright">
<p class="copyright">[% slackpack.copyright FILTER html %]<br />
[% slackpack.name FILTER html %] [%+ slackpack.version FILTER html %] ([% slackpack.release_date FILTER html %])</p>
</div>
</footer>

</body>

</html>
