[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2020  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  title - page title
  #  feeds - array of hashes with feeds to announce
  #
  #%]

[% USE Number.Format(THOUSANDS_SEP = ' ',
                     DECIMAL_POINT = ',',
                     DECIMAL_DIGITS = 2,
                     KILO_SUFFIX = ' <abbr title="Кило Байти">КБ</abbr>',
                     MEGA_SUFFIX = ' <abbr title="Мега Байти">МБ</abbr>',
                     GIGA_SUFFIX = ' <abbr title="Мега Байти">ГБ</abbr>') %]

<!DOCTYPE html>

<html lang="bg">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="[% slackpack.author.name FILTER html %] ([% slackpack.author.email FILTER html %])" />
<meta name="keywords" content="Slackware, пакети, slackpack, slackpackages, програми, изтегляне" />
<meta name="generator" content="[% slackpack.name FILTER html %] [%+ slackpack.version FILTER html %]" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[% slackpack.name FILTER html %]: [%+ title FILTER html %]</title>
<link rel="icon" href="img/sp_icon" />
<link rel="shortcut icon" href="img/sp_icon" />
<link rel="stylesheet" href="style/default.css"
      media="print, screen" title="Default" type="text/css" />
<link rel="search" type="application/opensearchdescription+xml"
      title="[% slackpack.name FILTER html %]" href="search_plugin.cgi" />
[% FOREACH feed = feeds %]
<link rel="alternate" href="[% feed.url FILTER html %]"
      title="[% feed.title FILTER html %]"
      type="[% feed.type FILTER html %]" />
[% END %]
</head>

<body>

[% IF NOT skip_h1 %]
<header class="Page">
<div id="Head">
<div id="Logo"><img alt="Пакет" src="img/slackpack" width="54" height="72" /></div>
<h1>[% slackpack.name FILTER html %]: Slackware пакети</h1>
<nav>
<ul id="HeaderMenu">
<li><a href="/slackpack/">Начало</a></li>
<li><a href="news.cgi">Новини</a></li>
<li><a href="search.cgi">Търсене</a></li>
<li><a href="about.cgi">Относно</a></li>
</ul>
</nav>
<br />
<br />
[% PROCESS global/socsh_links.html.tmpl
  sh_url = page_url
  sh_desc = slackpack.name _ ": " _ title
  ul_class = "share-buttons share-right"
%]
</div>

<p class="right float-clear-right">Пакети: [% slackpack.packs.count %], Размер: [% slackpack.packs.size | format_bytes %]</p>
</header>
[% END %]

