[%# $Id: header.html.tmpl,v 1.4 2010/08/18 22:14:52 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2010  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  title - page title
  #  feeds - array of hashes with feeds to announce
  #
  #%]

[% USE Number.Format(THOUSANDS_SEP = ' ',
                     DECIMAL_POINT = ',',
                     DECIMAL_DIGITS = 2,
                     KILO_SUFFIX = ' <abbr title="Кило Байти">КБ</abbr>',
                     MEGA_SUFFIX = ' <abbr title="Мега Байти">МБ</abbr>',
                     GIGA_SUFFIX = ' <abbr title="Мега Байти">ГБ</abbr>') %]

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="bg" lang="bg">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="[% slackpack.author.name FILTER html %] ([% slackpack.author.email FILTER html %])" />
<meta name="keywords" content="Slackware, пакети, slackpack, slackpackages, програми, изтегляне" />
<meta name="generator" content="[% slackpack.name FILTER html %] [% slackpack.version FILTER html %]" />
<meta name="CVS" content="$Id: header.html.tmpl,v 1.4 2010/08/18 22:14:52 gsotirov Exp $" />
<title>[% slackpack.name FILTER html %]: [%+ title FILTER html %]</title>
<link rel="icon" href="img/sp_icon" />
<link rel="shortcut icon" href="img/sp_icon" />
<link rel="stylesheet" href="style/default.css"
      media="print, screen" title="Default" type="text/css" />
<link rel="search" type="application/opensearchdescription+xml"
      title="[% slackpack.name FILTER html %]" href="search_plugin.cgi" />
[% FOREACH feed = feeds %]
<link rel="alternate" href="[% feed.url FILTER html %]"
      title="[% feed.title FILTER html %]"
      type="[% feed.type FILTER html %]" />
[% END %]
</head>

<body>

[% IF NOT skip_h1 %]
<div id="Header">
<div id="Head">
<div id="Logo"><img alt="Пакет" src="img/slackpack" /></div>
<h1>[% slackpack.name FILTER html %]: Slackware пакети</h1>
<ul id="HeaderMenu">
<li><a href="/slackpack/">Начало</a></li>
<li><a href="news.cgi">Новини</a></li>
<li><a href="search.cgi">Търсене</a></li>
<li><a href="about.cgi">Относно</a></li>
</ul>
</div>

<p class="right">Пакети: [% slackpack.packs.count %], Размер: [% slackpack.packs.size | format_bytes %]</p>
</div>
[% END %]

