[%# $Id: leftbar.html.tmpl,v 1.21 2019/07/30 17:48:09 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2019  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  categories - list of packages categories with package counts
  #  slackvers - list of slackware versions with package counts
  #  vendors - list of software vendors with package counts
  #
  #%]

<aside id="LeftBar">

<section id="Search">
<h2>Търсене</h2>
<form action="search.cgi" id="QuickSearch" method="get">
<p class="center">
<input id="q" maxlength="255" name="q" type="text" size="16" value="" />
<br /><span class="right"><a href="search.cgi" title="Търсене на определени
пакети">Разширено търсене</a></span><br /><br />
<input id="lo" name="lo" type="hidden" value="1" />
<input id="submit" name="submit" type="submit" value="Търсене" /></p>
</form>
</section>

[% IF slackpack.slackvers %]
<section id="Formats">
<h2>Формати</h2>
<ul>
[% FOREACH sver = slackpack.slackvers %]
[% IF sver.packages > 0 %]
<li>
  <a href="search.cgi?slack=[% sver.id FILTER html %]">[% sver.name FILTER html %]</a>
  ([% sver.packages FILTER html %])
  <a href="feed.cgi?slack=[% sver.id FILTER html %]&amp;type=atom" title="Последни за [% sver.name FILTER html %]" type="application/atom+xml">
  <img alt="Feed" src="img/feed-icon" /></a>
</li>
[% END %]
[% END %]
</ul>
</section>
[% END %]

[% IF slackpack.categories %]
<section id="Categories">
<h2>Категории</h2>
<ul>
[% FOREACH cat = slackpack.categories %]
<li>
  [% IF cat.packages > 0 %]
  <a href="search.cgi?cat=[% cat.id FILTER html %]">[% cat.name_bg FILTER html %]</a>
  [% ELSE %]
  [% cat.name_bg FILTER html %]
  [% END %] ([% cat.packages FILTER html %])
  [% IF cat.packages > 0 %]
  <a href="feed.cgi?cat=[% cat.id FILTER html %]&amp;type=atom" title="Последни в категоря [% cat.name_bg FILTER html %]" type="application/atom+xml">
  <img alt="Feed" src="img/feed-icon" /></a>
  [% END %]
</li>
[% END %]
</ul>
</section>
[% END %]

[% IF slackpack.vendors %]
<section id="Vendors">
<h2>Доставчици</h2>
<ul>
[% FOREACH ven = slackpack.vendors %]
  [% IF ven.packages > 2 && ven.id > 1 %]
<li>
  <a href="search.cgi?vendor=[% ven.id FILTER html %]">[% ven.name FILTER html %]</a>
  &nbsp;([% ven.packages FILTER html %])&nbsp;
  <a href="feed.cgi?vendor=[% ven.id FILTER html %]&amp;type=atom" title="Последни от доставчика [% ven.name FILTER html %]" type="application/atom+xml">
  <img alt="Feed" src="img/feed-icon" /></a>
</li>
  [% END %]
[% END %]
</ul>
</section>
[% END %]

[% IF slackpack.lb_links %]
<section id="Links">
<h2>Връзки</h2>
<map id="LinksMap" name="LinksMap"><ul>
[% FOREACH link = slackpack.lb_links %]
<li><a href="[% link.url %]" target="_blank">[% link.title_bg FILTER html %]</a>
    <img alt="ext^" src="img/extsite" title="External site" /></li>
[% END %]
</ul></map>
</section>
[% END %]

[% IF slackpack.about_links %]
<section id="About">
<h2>Относно</h2>
<map id="AboutMap" name="AboutMap"><ul>
[% FOREACH link = slackpack.about_links %]
<li><a href="[% link.url %]">[% link.title_bg FILTER html %]</a></li>
[% END %]
</ul></map>
</section>
[% END %]

<section id="Donate">
<h2>Дарения</h2>
<p class="center">Ако желаете, моля <a href="donate.cgi">дарете</a>:
<br /><br />
<a href="donate.cgi?q=paypal">
<img alt="PayPal" src="img/paypal" title="Даряване чрез PayPal" /></a>
<br /><br />
<a href="donate.cgi?q=epay">
<img alt="EPay Now" src="img/btn_epay" title="Даряване чрез EPay" /></a>
</p>
<p class="right">Преглед на <a href="donate.cgi">възможностите за даряване</a></p>
</section>

</aside>

