[%# $Id: rightbar.html.tmpl,v 1.6 2012/12/09 18:58:18 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2010  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  # pack - package data
  #
  #%]

<div id="RightBar">

<script type="text/javascript">
function verify_popup(strURL, strTitle) {
  /* Toolbar and Chrome features */
  var strOptions  = "menubar=no,location=no,resizable=yes,scrollbars=yes,";
  strOptions += "status=no,directories=no,personalbar=no,";
  /* Position and size */
  strOptions += "left=100,top=100,width=400,height=250";

  window.open(strURL, strTitle, strOptions);
}
</script>

<div id="File">
<h2>Информация за файла</h2>
<p><strong>Име</strong>: [% pack.filename FILTER html %]<br />
<strong>Размер</strong>: [% pack.filesize | format_bytes %] ([% pack.filesize | format_number %] <abbr title="Байта">Б</abbr>)<br />
<strong>Дата</strong>: [% date.format(time = pack.filedate, format = '%Y-%m-%d @ %H:%M:%S', locale = 'en_US', gmt = 0) FILTER html %]<br />
<strong>MD5 Сума</strong>: [% pack.filemd5 FILTER html %]<br />
<strong>Проверка на MD5 сума</strong>: <span id="VerifyMD5"></span></br>
<script type="text/javascript">
  var VerifyMD5 = document.getElementById('VerifyMD5');

  if ( VerifyMD5 != null ) {
    var VerifyAnchor = document.createElement("a");
    var strAction  = "javascript:";
        strAction += "verify_popup('pack.cgi?id=[% pack.id %]&amp;verifymd5=1', ";
        /* IE doesn't support free text window name as second argument, but
         * title is anyway generated for the displayed page
         */
        strAction += "'_blank'); return false;";

    VerifyAnchor.setAttribute("href", "#");
    VerifyAnchor.setAttribute("onclick", strAction);
    VerifyAnchor.setAttribute("onkeypress", strAction);
    VerifyAnchor.appendChild(document.createTextNode("Проверка"));
    VerifyMD5.appendChild(VerifyAnchor);
  }
  else {
    throw new Error('Elment with id "VerifyMD5" not found!');
  }
</script>
<noscript>
<a href="pack.cgi?id=[% pack.id FILTER html %]&amp;verifymd5=1" target="_blank">Проверка</a></br>
</noscript>
<strong>Подпис</strong>: <a href="pack.cgi?id=[% pack.id FILTER html %]&amp;sign=1">Преглед</a><br />
<strong>Съдържание</strong>: <a href="pack.cgi?id=[% pack.id FILTER html %]&amp;dump=true">Преглед</a></p>
</div>

<div id="Download">
<h2>Изтегляне</h2>
<p>
[% IF pack.status == 'ok' %]
<a href="download.cgi?id=[% pack.id FILTER html %]">Избор на огледало</a>
[% ELSIF pack.status == 'old' %]
<a href="download.cgi?id=[% pack.id FILTER html %]">От основния сървър</a>
[% ELSE %]
Не е наличен
[% END %]
</p>
</div>
</div>
