[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2021  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  # pack - package data
  #
  #%]

<aside id="RightBar">

<script src="js/l10n.bg.js"></script>
<script src="js/verify_chksum.js"></script>

<section id="File">
<h2>Информация за файла</h2>
<p><strong>Име</strong>: [% pack.filename FILTER html %]<br />
<strong>Размер</strong>: [% pack.filesize | format_bytes %] ([% pack.filesize | format_number %] <abbr title="Байта">Б</abbr>)<br />
<strong>Дата</strong>: [% date.format(time = pack.filedate, format = '%Y-%m-%d @ %H:%M:%S', locale = 'en_US', gmt = 0) FILTER html %]<br />
<strong>MD5 Сума</strong>: [% pack.filemd5 FILTER html %]<br />
<strong>Проверка на MD5 сума</strong>: <span id="VerifyMD5">
<script>
  gen_verify_link([% pack.id %]);
</script>
<noscript>
<a href="pack.cgi?id=[% pack.id FILTER html %]&amp;verifymd5=1" target="_blank">Проверка</a>
</noscript></span><br />
<strong>Подпис</strong>: <a href="pack.cgi?id=[% pack.id FILTER html %]&amp;sign=1">Преглед</a><br />
<strong>Съдържание</strong>: <a href="pack.cgi?id=[% pack.id FILTER html %]&amp;dump=true">Преглед</a></p>
</section>

<section id="Download">
<h2>Изтегляне</h2>
<p>
[% IF pack.status == 'ok' %]
<a href="download.cgi?id=[% pack.id FILTER html %]">Избор на огледало</a>
[% ELSIF pack.status == 'old' %]
<a href="download.cgi?id=[% pack.id FILTER html %]">От основния сървър</a>
[% ELSE %]
Не е наличен
[% END %]
</p>
</section>

</aside>

