[%# $Id: contents.html.tmpl,v 1.4 2010/08/18 20:26:46 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2019  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  pack - package data
  #  dump - file contents
  #
  #%]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "Съдържание на пакета " _ pack.filename
   feeds = lb_feeds
 %]

<main>

[% PROCESS global/leftbar.html.tmpl %]

<section id="Package">
<h2>Съдържание на пакета <em>[% pack.filename FILTER html %]</em></h2>
<p class="left"><a href="pack.cgi?id=[% pack.id FILTER html %]">Връщане към подробностите на пакета</a></p>
<pre>[% dump FILTER html %]</pre>
<p class="left"><a href="pack.cgi?id=[% pack.id FILTER html %]">Връщане към подробностите на пакета</a></p>
</section>

</main>

[% PROCESS global/footer.html.tmpl %]

