[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2023  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  $  No interface
  #
  #%]

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="bg" lang="bg">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Georgi D. Sotirov, gdsotirov@gmail.com" />
<title>Add Slackware Version</title>
<link rel="icon" href="/img/sotirov_net" />
<link rel="shortcut icon" href="/img/sotirov_net" />
<link rel="stylesheet" href="/style/admin.css" media="print, screen" title="Подразбран" type="text/css" />
</head>

<body>
<h1>Add Slackware Version</h1>
<h2>This form allows you to add data for a new slackware version.</h2>
<p><em>Note: All fields in bold are required!</em></p>
<form action="editarchs.cgi?action=new" id="slackpack" method="post">
<div class="row">
<label for="name"><span class="label"><strong>Identifier</strong>:</span>&nbsp;<span class="field"><input id="id" maxlength="8" name="id" size="8" type="text" /></span></label>
</div>

<div class="row">
<label for="name"><span class="label"><strong>Name</strong>:</span>&nbsp;<span class="field"><input id="name" maxlength="30" name="name" size="30" type="text" /></span></label>
</div>

<div class="row">
<label for="name"><span class="label">Released:</span>&nbsp;<span class="field"><input id="released" maxlength="32" name="released" size="12" type="text" /></span></label>
</div>

<div class="row">
<label for="def"><span class="label">Default:</span>&nbsp;<span class="field"><input id="def" name="def" type="checkbox" /></span></label>
</div>

<div class="row">
<input type="submit" value="Add license" />&nbsp;
<input type="reset" value="Clear form" />
</div>
</form>
</body>

</html>
