[%# $Id: donate.html.tmpl,v 1.3 2009/08/13 20:19:35 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2007  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  operator - operator from which the payment is made
  #  status - status flag
  #
  #%]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "Възможности за даряване"
   feeds = lb_feeds
 %]

<div id="Content">

[% PROCESS global/leftbar.html.tmpl %]

<div id="Main">
[% IF status == 'ok' %]
<h2>Благодаря Ви!</h2>
<p class="text">Благодаря Ви, че дарихте пари на [% slackpack.name %]
[% SWITCH operator %]
[% CASE 'epay' %]
през&nbsp;<a href="http://www.epay.bg/">ePay</a>
[% CASE 'mb' %]
през&nbsp;<a href="http://www.moneybookers.com/">MoneyBookers</a>
[% CASE 'paypal' %]
през&nbsp;<a href="http://www.paypal.com/">PayPal</a>
[% END %]. Изключително ценим подкрепата ви!</p>
<p class="text"><a href="/slackpack/">Връщане</a> към сайта.</p>
[% ELSIF status == 'ko' %]
<h2>Отказано дарения</h2>
<p class="text">Благодаря ви, че взехте в предвид даряването на пари на [% slackpack.name %].</p>
<p class="text">Можете да прегледате <a href="donate.cgi">възможностите за даряване</a> отново
или <a href="/slackpack/">да се върнете</a> към сайта.</p>
[% ELSE %]
<h2>Защо да даряваме?</h2>
<p class="text">Този сайт и пакетите в него изискват много усилия
за поддръжка. Затова се приемат дарения от всеки с интерес да
финансира работата. Ако харесвате сайта и пакетите, моля вижте възможностите
за даряване по-долу.</p>
<h2><abbr title="Често Задавани Въпроси">ЧЗВ</abbr> набързо</h2>
<p>
В: <strong>Трябва ли да даря?</strong><br />
О: Не! Не сте задължен да дарявате по никакъв начин. Направете го ако желаете, ако
харесвате сайта и пакетите в него.<br /><br />
В: <strong>Колко?</strong><br />
О: Дарявайте, колкото желаете. Няма ограничения.<br /><br />
В: <strong>Безопасно ли е?</strong><br />
О: Транзакциите ви, ще бъдат обработени през подсигурени връзки и
[% slackpack.name %] няма да получи никаква лична информация.</p>
<h2>Даряване!</h2>
<p class="text">Ако вече сте готови, моля продължете използвайки следни[% IF query == '' %]те[% ELSE %]я[% END %]
формуляр[% "и" IF query == '' %]:</p>
<p class="note"><em>Забележка: Дарявате <strong>еднократно</strong> всеки път.
Без абонаменти.</em></p>

[% IF query == '' OR query == 'paypal' %]
<table id="DonatePayPal" class="donate">
<thead>
<tr><th>PayPal</th></tr>
</thead>
<tbody>
<tr>
<td><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<p>
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="QPSQ33BA8T8DU" />
<input type="hidden" name="item_name" value="One-time support for [% slackpack.name %]" />
<input type="hidden" name="item_number" value="DONATE" />
<input type="hidden" name="notify_url" value="mailto:gdsotirov@dir.bg" />
<input type="hidden" name="return" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=paypal&amp;stat=ok" />
</p>
<p>Международни дарители могат сигурно и лесно да дарят чрез <a
href="http://www.paypal.com/">PayPal</a> с въвеждане на желана сума
и след това влизане в сметката си за потвърждаване на плащането.</p>
<p class="center"><label for="amount_pp"><strong>Желая да даря</strong>&nbsp;
<input name="amount" id="amount_pp" maxlength="10" size="3" type="text" value="10" /></label>
<select name="currency_code" size="1">
<option value="USD" selected="selected">USD – $</option>
<option value="EUR">EUR – €</option>
<option value="GBP">GBP – £</option>
<option value="AUD">AUD – $</option>
<option value="CAD">CAD – $</option>
<option value="CHF">CHF – S₣</option>
<option value="CZK">CZK – Kč</option>
<option value="DKK">DKK – kr</option>
<option value="HKD">HKD – HK$</option>
<option value="HUF">HUF – Ft</option>
<option value="JPY">JPY – ¥</option>
<option value="NZD">NZD – NZ$</option>
<option value="NOK">NOK – kr</option>
<option value="PLN">PLN – zł</option>
<option value="SGD">SGD – S$</option>
<option value="SEK">SEK – kr</option>
<option value="ILS">ILS - ₪</option>
</select><br /><br />
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif"
name="submit" alt="PayPal - Безопасния, лесен начин за плащене online!" title="Даряване" />
</p></form></td>
</tr>
</tbody>
</table>
[% END %]

[% IF query == '' OR query == 'mb' %]
<table id="DonateMB" class="donate">
<thead>
<tr><th>MoneyBookers</th></tr>
</thead>
<tbody>
<tr>
<td><form action="https://www.moneybookers.com/app/payment.pl" method="post">
<p>
<input name="pay_to_email" value="gdsotirov@dir.bg" type="hidden" />
<input name="recipient_description" value="[% slackpack.name %]" type="hidden" />
<input name="return_url" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=mb&amp;stat=ok" type="hidden" />
<input name="return_url_text" value="Return to [% slackpack.name %]" type="hidden" />
<input name="cancel_url" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=mb&amp;stat=ko" type="hidden" />
<input name="status_url" value="gdsotirov@dir.bg" type="hidden" />
<input name="language" value="en" type="hidden" />
<input name="logo_url" value="https://sotirov-bg.net/slackpack/img/slackpack" type="hidden" />
<input name="detail1_description" value="One-time donation" type="hidden" />
<input name="detail1_text" value="Support for [% slackpack.name %]" type="hidden" />
<input name="rid" value="3332307" type="hidden" />
</p>
<p>Международни дарители могат да вземат в предвид даряване през
<a href="https://www.moneybookers.com/app/?rid=3332307">MoneyBookers</a>
&nbsp;<img alt="ext^" src="img/extsite" title="външна връзка" />,
които обикновено имат по-ниски такси от PayPal. Необходима е регистрация.</p>
<p class="center"><label for="amount_mb"><strong>Желая да даря</strong>&nbsp;
<input name="amount" id="amount_mb" maxlength="10" size="3" type="text" value="10" /></label>
<select name="currency" size="1">
<option value="EUR" selected="selected">EUR - €</option>
<option value="USD">USD - $</option>
<option value="GBP">GBpaypalP - £</option>
<option value="AUD">AUD - $</option>
<option value="BGN">BGN - ¤</option>
<option value="CAD">CAD - $</option>
<option value="CHF">CHF - S₣</option>
<option value="CZK">CZK - Kč</option>
<option value="DKK">DKK - kr</option>
<option value="EEK">EEK - kr</option>
<option value="HKD">HKD - HK$</option>
<option value="HUF">HUF - Ft</option>
<option value="ILS">ILS - ₪</option>
<option value="INR">INR - Rs.</option>
<option value="ISK">ISK - kr</option>
<option value="HRK">HRK - ¤</option>
<option value="JPY">JPY - ¥</option>
<option value="KRW">KRW - ₩</option>
<option value="LVL">LVL - Ls.</option>
<option value="LTL">LTL - Lt</option>
<option value="MYR">MYR - RM</option>
<option value="NOK">NOK - kr</option>
<option value="NZD">NZD - NZ$</option>
<option value="PLN">PLN - zł</option>
<option value="RON">RON - RON</option>
<option value="SEK">SEK - kr</option>
<option value="SGD">SGD - S$</option>
<option value="SKK">SKK - Sk</option>
<option value="THB">THB - ฿</option>
<option value="TWD">TWD - NT$</option>
<option value="ZAR">ZAR - R</option>
</select><br /><br />
<input type="image" src="img/btn_mb" title="Даряване" />
</p></form></td>
</tr>
</tbody>
</table>
[% END %]

[% IF query == '' OR query == 'epay' %]
<table id="DonateEpay" class="donate">
<thead>
<tr><th>EPay</th></tr>
</thead>
<tbody>
<tr>
<td><form action="https://www.epay.bg/" id="epay" method="post">
<p>
<input type="hidden" name="page" value="paylogin" />
<input type="hidden" name="min" value="961794843" />
<input type="hidden" name="descr" value="One-time support for [% slackpack.name %]" />
<input type="hidden" name="url_ok" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=epay&amp;stat=ok" />
<input type="hidden" name="url_cancel" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=epay&amp;stat=ko" />
</p>
<p>Дарители от България могат да вземат в предвид даряване през
<a href="http://www.epay.bg/">EPay</a>&nbsp;<img alt="ext^"
src="img/extsite" title="Външна връзка" />, което е бързо и лесно, но
изисква регистрация.</p>
<p class="center"><label for="total_ep"><strong>Желая да даря</strong>&nbsp;
<input type="text" name="total" id="total_ep" maxlength="10" size="3" value="10" />
</label>&nbsp;<abbr title="Български лева">BGN</abbr><br /><br />
<input type="image" src="img/btn_epay" title="Даряване" />
</p></form></td>
</tr>
</tbody>
</table>
[% END %]

[% IF query == '' %]
<table id="DonateDirect" class="donate">
<thead>
<tr><th>Банков превод</th></tr>
</thead>
<tbody>
<tr>
<td><p>Ако предпочитате можете пряко да прехвърлите пари на една
от сметките ми.</p>
<p><strong>Притежател на сметката</strong>:<br />
&nbsp;&nbsp;&nbsp;Георги Д. Сотиров<br />
<strong><abbr title="International Bank Account Numbers">IBAN</abbr></strong>:<br />
&nbsp;&nbsp;&nbsp;BG69 FINV 9150 10BG N02B 3Q<br />
<strong><abbr title="Bank Identificaiton Code">BIC</abbr></strong>:<br />
&nbsp;&nbsp;&nbsp;FINVBGSF<br />
<strong>Банка</strong>:<br />
&nbsp;&nbsp;&nbsp;<a href="http://www.fibank.bg/">First Investment Bank</a>
&nbsp;<img alt="ext^" src="img/extsite" title="Външна връзка" /></p>
</td></tr>
</tbody>
</table>
[% END %]

[% END %]

</div>
</div>

[% PROCESS global/footer.html.tmpl %]

