[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2021  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  operator - operator from which the payment is made
  #  status - status flag
  #
  #%]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "Възможности за даряване"
   feeds = lb_feeds
 %]

<main>

[% PROCESS global/leftbar.html.tmpl %]

[% IF status == 'ok' %]
<section id="DonationOK">
<h2>Благодаря Ви!</h2>
<p class="text">Благодаря ви, че дарихте пари на [% slackpack.name %]
[% SWITCH operator %]
[% CASE 'epay' %]
през&nbsp;<a href="https://www.epay.bg/" hreflang="bg">ePay</a>
[% CASE 'paypal' %]
през&nbsp;<a href="https://www.paypal.com/" hreflang="en">PayPal</a>
[% END %]. Изключително много ценя подкрепата ви!</p>
<p class="text"><a href="/slackpack/">Връщане</a> към сайта.</p>
</section>
[% ELSIF status == 'ko' %]
<section id="DonationKO">
<h2>Отказано дарение</h2>
<p class="text">Благодаря, че взехте в предвид да дарите пари на [% slackpack.name %].</p>
<p class="text">Можете да прегледате отново <a href="donate.cgi">възможностите
за даряване</a> или <a href="/slackpack/">да се върнете</a> към сайта.</p>
</section>
[% ELSE %]
<section id="WhyDonating">
<h2>Защо да даряваме?</h2>
<p class="text">Този сайт и пакетите в него изискват значителни усилия
за поддръжка. Затова се приемат дарения от всеки с интерес да
подкрепи работата. Ако харесвате сайта и ползвате пакетите, моля вижте възможностите
за даряване по-долу.</p>
</section>

<section id="DonatingFAQ">
<h2><abbr title="Често Задавани Въпроси">ЧЗВ</abbr> за даряването</h2>
<p>
<abbr title="Въпрос">В</abbr>: <strong>Трябва ли да даря?</strong><br />
<abbr title="Отговор">О</abbr>: Не! Не сте задължен да дарявате по никакъв начин. Направете го ако желаете, ако
харесвате сайта и пакетите в него.<br /><br />
<abbr title="Въпрос">В</abbr>: <strong>Колко?</strong><br />
<abbr title="Отговор">О</abbr>: Дарявайте, колкото желаете. Няма долна или горна граница.<br /><br />
<abbr title="Въпрос">В</abbr>: <strong>Безопасно ли е?</strong><br />
<abbr title="Отговор">О</abbr>: Транзакциите ви, ще бъдат обработени през подсигурени връзки и
[%+ slackpack.name %] няма да получи никаква лична информация.</p>
</section>

<section id="DonationOptions">
<h2>Възможности за даряване</h2>
<p class="text">Ако вече сте готови, моля продължете използвайки някой от
следни[% IF query == '' %]те[% ELSE %]я[% END %] формуляр[% "и" IF query == '' %]:</p>
<p class="note"><em>Забележка: Дарявате <strong>еднократно</strong> всеки път.
Без абонаменти.</em></p>

[% IF query == '' OR query == 'paypal' %]
<table id="DonatePayPal" class="donate">
<thead>
<tr><th>PayPal</th></tr>
</thead>
<tbody>
<tr>
<td><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<p>
<input name="cmd" value="_donations" type="hidden" />
<input name="business" value="QPSQ33BA8T8DU" type="hidden" />
<input name="lc" value="BG" type="hidden" />
<input name="item_name" value="One-time support for [% slackpack.name %]" type="hidden" />
<input name="item_number" value="DONATE" type="hidden" />
<input name="no_shipping" value="1" type="hidden" />
<input name="notify_url" value="mailto:gdsotirov@gmail.com" type="hidden" />
<input name="return" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=paypal&amp;stat=ok" type="hidden" />
<input name="cbt" value="Return to [% slackpack.name %]" type="hidden" />
<input name="cancel_return" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=mb&amp;stat=ko" type="hidden" />
<input name="image_url" value="https://sotirov-bg.net/slackpack/img/slackpack" type="hidden" />
</p>
<p>Международни дарители могат сигурно и лесно да дарят чрез <a
href="https://www.paypal.com/" hreflang="en">PayPal</a>&nbsp;<img alt="ext^" src="img/extsite"
title="външна връзка" /> или чрез сметката си или без да влизат в PayPal.</p>
<p class="center"><label for="amount_pp"><strong>Желая да даря</strong>&nbsp;
<input name="amount" id="amount_pp" maxlength="10" size="3" type="text" value="10" /></label>
<select name="currency_code" size="1">
<option value="USD" selected="selected">USD – $</option>
<option value="EUR">EUR – €</option>
<option value="GBP">GBP – £</option>
<option value="AUD">AUD – $</option>
<option value="CAD">CAD – $</option>
<option value="CHF">CHF – S₣</option>
<option value="CZK">CZK – Kč</option>
<option value="DKK">DKK – kr</option>
<option value="HKD">HKD – HK$</option>
<option value="HUF">HUF – Ft</option>
<option value="JPY">JPY – ¥</option>
<option value="NZD">NZD – NZ$</option>
<option value="NOK">NOK – kr</option>
<option value="PLN">PLN – zł</option>
<option value="SGD">SGD – S$</option>
<option value="SEK">SEK – kr</option>
<option value="ILS">ILS - ₪</option>
</select><br /><br />
<input alt="PayPal Даряване"
name="submit" src="img/btn_paypal_donate" type="image" title="Даряване през PayPal" />
</p></form></td>
</tr>
</tbody>
</table>
[% END %]

[% IF query == '' OR query == 'epay' %]
<table id="DonateEpay" class="donate">
<thead>
<tr><th>EPay</th></tr>
</thead>
<tbody>
<tr>
<td><form action="https://www.epay.bg/" id="epay" method="post">
<p>
<input type="hidden" name="page" value="paylogin" />
<input type="hidden" name="min" value="961794843" />
<input type="hidden" name="descr" value="Еднократна подкрепа за [% slackpack.name %]" />
<input type="hidden" name="url_ok" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=epay&amp;stat=ok" />
<input type="hidden" name="url_cancel" value="https://sotirov-bg.net/slackpack/donate.cgi?oper=epay&amp;stat=ko" />
</p>
<p>Дарители от България могат да вземат в предвид даряване през
<a href="https://www.epay.bg/" hreflang="bg">EPay</a>&nbsp;<img alt="ext^"
src="img/extsite" title="Външна връзка" />, което е бързо и лесно, но
изисква регистрация.</p>
<p class="center"><label for="total_ep"><strong>Желая да даря</strong>&nbsp;
<input type="text" name="total" id="total_ep" maxlength="10" size="3" value="10" />
</label>&nbsp;<abbr title="Български лева">BGN</abbr><br /><br />
<input alt="ePay Даряване"
name="submit" src="img/btn_epay" type="image" title="Даряване през ePay" />
</p></form></td>
</tr>
</tbody>
</table>
[% END %]

[% IF query == '' %]
<table id="DonateDirect" class="donate">
<thead>
<tr><th>Банков превод</th></tr>
</thead>
<tbody>
<tr>
<td><p>Ако предпочитате можете пряко да прехвърлите пари на една
от сметките ми.</p>
<p><strong>Притежател на сметката</strong>:<br />
&nbsp;&nbsp;&nbsp;Георги Д. Сотиров<br />
<strong><abbr title="International Bank Account Numbers">IBAN</abbr></strong>:<br />
&nbsp;&nbsp;&nbsp;BG69 FINV 9150 10BG N02B 3Q<br />
<strong><abbr title="Bank Identificaiton Code">BIC</abbr></strong>:<br />
&nbsp;&nbsp;&nbsp;FINVBGSF<br />
<strong>Банка</strong>:<br />
&nbsp;&nbsp;&nbsp;<a href="https://www.fibank.bg/" hreflang="bg">Първа Инвестиционна Банка</a>
&nbsp;<img alt="ext^" src="img/extsite" title="Външна връзка" /></p>
</td></tr>
</tbody>
</table>
[% END %]
</section>

[% END %]

</main>

[% PROCESS global/footer.html.tmpl %]

