[%# $Id: download.html.tmpl,v 1.5 2010/08/17 20:48:28 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2010  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  pack - package data
  #  mirrors - site mirrors data
  #
  #%]

[% USE date(format = '%Y-%m-%d/%H:%M:%S', locale = 'en_US', gmt = 0) %]


[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "Изтегляне на пакет " _ pack.title _ " " _ pack.version
   feeds = lb_feeds
 %]

<div id="Content">

[% PROCESS global/leftbar.html.tmpl %]

<div id="Main">
<h2>Изтегляне на пакет <em>[% pack.title FILTER html %] [%+ pack.version %]</em></h2>
<div id="MirrorInfo">
[% SWITCH pack.status %]
[% CASE 'del' %]
[% recovery_mailto = "gdsotirovNOSPAM@dir.bg?subject=" _ slackpack.name _ ": Заявка за възстановяване на пакета #" _ pack.id _ " (" _ pack.filename _ ")" %]
<p class="warn_box">Този пакет е бил <strong>изтрит</strong>. Това
означава, че неговите файлове са били премахнати от хранилището и по този начин
също от огледалата. Моля, <a href="search.cgi?name=[% pack.name FILTER html %]">потърсете</a> за
нов пакет на този софтуер. Ако по някаква причина наистина имате нужда от него,
моля <a href="mailto:[% recovery_mailto FILTER url %]">пишете
на поддържащия сайта</a>, но помнете, че няма <em>никаква гаранция за
възстановяване</em>!</p>
[% CASE 'old' %]
<p class="text">Този пакет е <em>остарял</em>, така че използването му <strong>не
се препоръчва</strong>, освен ако знаете какво правите. Остарелите пакети
са достъпни само от основния сървър.</p>
[% CASE %]
<p class="text">Поискахте да изтеглите файла <em>[% pack.filename FILTER html %]</em>.
Можете да го изтеглите директно от този сървър или можете да изберете
огледало близо до вас. Ако получите грешка, че файла не съществува
това означава, че огледалото все още не е синхронизирано, така че моля опитайте с друго
огледало или теглете директно от основния сървър.</p>
[% END %]
</div>

[% IF pack.status != 'del' %]
<div id="Mirrors">
[% IF pack.status == 'old' %]
<h3>Моля, следвайте връзките отдолу</h3>
[% ELSE %]
<h3>Моля, изберете огледало</h3>
[% END %]
<table cellspacing="0">
<thead>
<tr>
<th>Домакин</th>
<th>Местоположение</th>
<th>Континент</th>
<th>Изтегляне</th>
</tr>
</thead>
<tbody>
[% FOR mirror = mirrors %]
[% IF pack.status == 'ok' || mirror.prime %]
<tr class="[% loop.count() % 2 == 1 ? 'odd' : 'even' %]">
<td>
<a href="[% mirror.home_url %]"><img alt="[% mirror.name %]" height="31"
src="data:image/png;base64,[% mirror.logo %]" title="[% mirror.name %]" width="88" /></a>
&nbsp;&nbsp;&nbsp;[% mirror.name %]</td>
<td>[% mirror.loc_city %], [% mirror.loc_country %]</td>
<td>[% mirror.loc_continent %]</td>
<td class="last">
  [% FOR proto = mirror.protocols %]
    [% loop.count() > 1 ? ',&nbsp;' : '' %]
    <a href="[% proto.url FILTER replace('SLKVER', pack.slackver.str) %][% pack.filename %]">
    [% SWITCH proto.protocol %]
    [% CASE 'ftp'   %]<abbr lang="en" title="File Transfer Protocol">FTP</abbr>
    [% CASE 'http'  %]<abbr lang="en" title="Hyper Text Transfer Protocol">HTTP</abbr>
    [% CASE 'rsync' %]rsync
    [% END %]</a>
  [% END %]
</td>
</tr>
[% END %]
[% END %]
</tbody>
</table>
<p class="left"><a href="pack.cgi?id=[% pack.id %]">Връщане към подробностите на пакета</a></p>
</div>
[% END %]
</div>
</div>

[% PROCESS global/footer.html.tmpl %]

