[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2021  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  packs32 - latest packages for x86
  #  packs64 - latest packages for x86_64
  #  news - site news
  #
  #%]

[% USE date(format = '%Y-%m-%d', locale = 'en_US', gmt = 0) %]

[% feedl = [] %]
[% feedl.push({title => "Последни новини (Atom)",
               type => "application/atom+xml",
               url => "feed.cgi?q=news&amp;type=atom"
              }) %]
[% feedl.push({title => "Последни новини (RSS)",
               type => "application/rss+xml",
               url => "feed.cgi?q=news&amp;type=rss"
              }) %]
[% feedl.push({title => "Последни новини (RDF)",
               type => "application/rdf+xml",
               url => "feed.cgi?q=news&amp;type=rdf"
              }) %]
[% feedl.push({title => "Последни пакети x86_64 (Atom)",
               type => "application/atom+xml",
               url => "feed.cgi?q=latest64&amp;type=atom"
              }) %]
[% feedl.push({title => "Последни пакети x86_64 (RSS)",
               type => "application/rss+xml",
               url => "feed.cgi?q=latest64&amp;type=rss"
              }) %]
[% feedl.push({title => "Последни пакети x86_64 (RDF)",
               type => "application/rdf+xml",
               url => "feed.cgi?q=latest64&amp;type=rdf"
              }) %]
[% feedl.push({title => "Последни пакети x86 (Atom)",
               type => "application/atom+xml",
               url => "feed.cgi?q=latest32&amp;type=atom"
              }) %]
[% feedl.push({title => "Последни пакети x86 (RSS)",
               type => "application/rss+xml",
               url => "feed.cgi?q=latest32&amp;type=rss"
              }) %]
[% feedl.push({title => "Последни пакети x86 (RDF)",
               type => "application/rdf+xml",
               url => "feed.cgi?q=latest32&amp;type=rdf"
              }) %]
[% PROCESS global/leftbar.feeds.tmpl %]
[% FOREACH feed = lb_feeds %]
[%   feedl.push(feed) %]
[% END %]

[% PROCESS global/header.html.tmpl
   title = "Slackware пакети",
   feeds = feedl
 %]

<main>

[% PROCESS global/leftbar.html.tmpl %]

<section id="News">
<h2>Последни новини</h2>
[% FOREACH n = news %]
<div id="n[% n.id FILTER html %]">
<p><a href="news.cgi?id=[% n.id FILTER html %]">[% n.title FILTER html %]</a>
<em>на [% date.format(format=>'%Y-%m-%d в %H:%M:%S', time=>n.published, gmt=>0) FILTER html %] от</em>
<a href="mailto:[% n.author.email FILTER email %]">[% n.author.firstname FILTER html %] [%+ n.author.name FILTER html %]</a>
</p></div>
[% END %]
<p class="right">
<a href="news.cgi" title="Архив на новините">Архив</a>
<span class="syn-links">&nbsp;
<a href="feed.cgi?q=news&amp;type=atom" title="Последни новини (Atom)" type="application/atom+xml">Atom</a>&nbsp;<img alt="Емисия" src="img/feed-icon" />
<a href="feed.cgi?q=news&amp;type=rss" title="Последни новини (RSS)" type="application/rss+xml"><abbr title="Really Simple Syndication">RSS</abbr></a>&nbsp;<img alt="Емисия" src="img/feed-icon" />
<a href="feed.cgi?q=news&amp;type=rdf" title="Последни новини (RDF)" type="application/rdf+xml"><abbr title="Resource Definition Framework">RDF</abbr></a>&nbsp;<img alt="Емисия" src="img/feed-icon" />
</span></p>
</section>

<section id="Latest64b">
<h2>Последни пакети x86_64</h2>
<table class="list">
<thead>
<tr>
<th>Дата</th>
<th>Име</th>
<th>Име на пакет</th>
<th>Версия</th>
<th>Архитектура</th>
<th>Построение</th>
<th>Формат</th>
<th>Подробности</th>
</tr>
</thead>
<tbody>
[% FOREACH pack = packs64 %]
[% IF pack.security_fix %]
<tr class="security_fix">
[% ELSE %]
<tr>
[% END %]
<td>[% date.format(pack.filedate) FILTER html %]</td>
<td><a href="[% pack.url %]" target="_blank">[% pack.title FILTER html %]</a>
<img alt="ext^" src="img/extsite" title="Външна връзка" /></td>
<td>[% pack.name FILTER html %]</td>
<td>[% pack.version FILTER html %]</td>
<td>[% pack.arch.name FILTER html %]</td>
<td>[% pack.build FILTER html %]</td>
<td>[% pack.slackver.name FILTER html %]</td>
<td><a href="pack.cgi?id=[% pack.id FILTER html %]">Преглед</a></td>
</tr>
[% END %]
</tbody>
</table>
<p class="right syn-links">
<a href="feed.cgi?q=latest64&amp;type=atom" title="Последни пакети x86_64 (Atom)" type="application/atom+xml">Atom</a>
<img alt="Емисия" src="img/feed-icon" />
<a href="feed.cgi?q=latest64&amp;type=rss" title="Последни пакети x86_64 (RSS)" type="application/rss+xml">
<abbr title="Really Simple Syndication">RSS</abbr></a>&nbsp;<img alt="Емисия" src="img/feed-icon" />
<a href="feed.cgi?q=latest64&amp;type=rdf" title="Последни пакети x86_64 (RDF)" type="application/rdf+xml">
<abbr title="Resource Definition Framework">RDF</abbr></a>&nbsp;<img alt="Емисия" src="img/feed-icon" />
</p>
</section>

<section id="Latest32b">
<h2>Последни пакети x86</h2>
<table class="list">
<thead>
<tr>
<th>Дата</th>
<th>Име</th>
<th>Име на пакет</th>
<th>Версия</th>
<th>Архитектура</th>
<th>Построение</th>
<th>Формат</th>
<th>Подробности</th>
</tr>
</thead>
<tbody>
[% FOREACH pack = packs32 %]
[% IF pack.security_fix %]
<tr class="security_fix">
[% ELSE %]
<tr>
[% END %]
<td>[% date.format(pack.filedate) FILTER html %]</td>
<td><a href="[% pack.url %]">[% pack.title FILTER html %]</a>
<img alt="ext^" src="img/extsite" title="Външна връзка" /></td>
<td>[% pack.name FILTER html %]</td>
<td>[% pack.version FILTER html %]</td>
<td>[% pack.arch.name FILTER html %]</td>
<td>[% pack.build FILTER html %]</td>
<td>[% pack.slackver.name FILTER html %]</td>
<td><a href="pack.cgi?id=[% pack.id FILTER html %]">Преглед</a></td>
</tr>
[% END %]
</tbody>
</table>
<p class="right syn-links">
<a href="feed.cgi?q=latest32&amp;type=atom" title="Последни пакети x86 (Atom)" type="application/atom+xml">Atom</a>
<img alt="Емисия" src="img/feed-icon" />
<a href="feed.cgi?q=latest32&amp;type=rss" title="Последни пакети x86 (RSS)" type="application/rss+xml">
<abbr title="Really Simple Syndication">RSS</abbr></a>&nbsp;<img alt="Емисия" src="img/feed-icon" />
<a href="feed.cgi?q=latest32&amp;type=rdf" title="Последни пакети x86 (RDF)" type="application/rdf+xml">
<abbr title="Resource Definition Framework">RDF</abbr></a>&nbsp;<img alt="Емисия" src="img/feed-icon" />
</p>
</section>

</main>

[% PROCESS global/footer.html.tmpl %]

