[%# $Id: news.html.tmpl,v 1.9 2018/07/18 09:47:00 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2019  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  news - site news
  #  latest - latest 10 news
  #  calendar - news calendar
  #  year - for which year are the news
  #  month - for which month are the news (relative to the year) :-)
  #  yearmonth - for which date are the news
  #
  #%]

[% USE date(format = '%Y-%m-%d/%H:%M:%S', locale = 'en_US', gmt = 0) %]

[% feedl = [] %]
[% feedl.push({title => "Последни новини (Atom)",
               type => "application/atom+xml",
               url => "feed.cgi?q=news&amp;type=atom"
              }) %]
[% feedl.push({title => "Последни новини (RSS)",
               type => "application/rss+xml",
               url => "feed.cgi?q=news&amp;type=rss"
              }) %]
[% feedl.push({title => "Последни новини (RDF)",
               type => "application/rdf+xml",
               url => "feed.cgi?q=news&amp;type=rdf"
              }) %]
[% PROCESS global/leftbar.feeds.tmpl %]
[% FOREACH feed = lb_feeds %]
[%   feedl.push(feed) %]
[% END %]

[% IF year %]
[%   IF month %]
[%     page_title = "Новини от " _ date.format(format=>'%B, %Y', time=> yearmonth) %]
[%   ELSE %]
[%     page_title = "Новини за " _ year %]
[%   END %]
[% ELSIF news.size == 1 %]
[%   page_title = news.0.title %]
[% ELSE %]
[%   page_title = "Последни новини" %]
[% END %]

[% PROCESS global/header.html.tmpl
   title = page_title,
   feeds = feedl
 %]

<main>

[% PROCESS global/leftbar.html.tmpl %]

<section class="News">
<h2>[% page_title FILTER html %]</h2>
[% FOREACH n = news %]
<article id="n[% n.id FILTER html %]">
<header>
[% IF news.size > 1 || year || month %]
<h3>[% n.title FILTER html %]</h3>
[% END %]
<p><em>Публикувана на [% date.format(format=>'%Y-%m-%d в %H:%M:%S', time=>n.published, gmt=>0) FILTER html %] от</em>&nbsp;
<a href="mailto:[% n.author.email FILTER email %]">[% n.author.firstname FILTER html %] [%+ n.author.name FILTER html %]</a></p>
[% PROCESS global/socsh_links.html.tmpl
  sh_url = slackpack.home_url _ "/news.cgi?id=" _ n.id
  sh_desc = n.title
  ul_class = "share-buttons"
%]
</header>
<div id="body[% n.id FILTER html %]">
[% n.body %]
</div>
</article>
[% END %]
</section>

<aside id="RightBarNews">
<section id="LatestHeaders">
<h2>Последните 10</h2>
<map id="map_latest" name="map_latest"><ul>
[% FOREACH l = latest %]
<li><a href="news.cgi?id=[% l.id %]">[% l.title FILTER html %]</a></li>
[% END %]
</ul></map>
</section>

<section id="Calendar">
<h2>Календар</h2>
<map id="map_cal" name="map_cal"><ul>
[% FOREACH c = calendar %]
[% IF c.Month == 99 %]
<li><a href="news.cgi?y=[% c.Year %]">[% c.Year %]</a>&nbsp;([% c.News %])</li>
[% ELSE %]
<li>&nbsp;&nbsp;<a href="news.cgi?y=[% c.Year %]&amp;m=[% c.Month %]">
[% SWITCH c.Month %]
[%   CASE 1  %]Януари
[%   CASE 2  %]Февруари
[%   CASE 3  %]Март
[%   CASE 4  %]Април
[%   CASE 5  %]Май
[%   CASE 6  %]Юни
[%   CASE 7  %]Юли
[%   CASE 8  %]Август
[%   CASE 9  %]Септември
[%   CASE 10 %]Октомври
[%   CASE 11 %]Ноември
[%   CASE 12 %]Декември
[% END %], [% c.Year FILTER html %]</a>&nbsp;([% c.News FILTER html %])</li>
[% END %]
[% END %]
</ul></map>
</section>

<section id="Syndication">
<h2>Обединяване</h2>
<map id="map_syn" name="map_syn"><ul>
<li><a href="feed.cgi?q=news&amp;type=atom" title="Последни новини (Atom)"
       type="application/atom+xml">Последни новини (Atom)</a>&nbsp;<img alt="Feed"
       src="img/feed-icon" /></li>
<li><a href="feed.cgi?q=news&amp;type=rss" title="Последни новини (RSS)"
       type="application/rss+xml">Последни новини (<abbr
       title="Really Simple Syndication">RSS</abbr>)</a>&nbsp;<img alt="Feed"
       src="img/feed-icon" /></li>
<li><a href="feed.cgi?q=news&amp;type=rdf" title="Последни новини (RDF)"
       type="application/rdf+xml">Последни новини (<abbr
       title="Resource Definition Framework">RDF</abbr>)</a>&nbsp;<img alt="Feed"
       src="img/feed-icon" /></li>
</ul></map>
</section>
</aside>

</main>

[% PROCESS global/footer.html.tmpl %]

