[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2021  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  pack - package data
  #  history - package history
  #  formats - other package formats
  #  warn - indicates that the user was warned about the package
  #
  #%]

[% USE date(format = '%Y-%m-%d', locale = 'en_US', gmt = 0) %]
[% USE Number.Format(THOUSANDS_SEP = ' ',
                     DECIMAL_POINT = ',',
                     DECIMAL_DIGITS = 2,
                     KILO_SUFFIX = ' <abbr title="Кило Байти">КБ</abbr>',
                     MEGA_SUFFIX = ' <abbr title="Мега Байти">МБ</abbr>',
                     GIGA_SUFFIX = ' <abbr title="Гига Байти">ГБ</abbr>') %]

[% SET page_title = "Подробности за пакета " _ pack.title _ " " _ pack.version _ " за " _ pack.arch.name %]
[% IF pack.build > 1 %]
[%   SET page_title = page_title _ " (" _ pack.build _ ")" %]
[% END %]
[% IF pack.security_fix %]
[%   SET page_title = page_title _ " (* Поправка по сигурността *)" %]
[% END %]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = page_title
   feeds = lb_feeds
 %]
[% IF pack.arch.id == 'x86_64' %]
[% SET arch_suffix = '64' %]
[% ELSE %]
[% SET arch_suffix = '' %]
[% END %]
[% SET repo_url = repo.protocols.item(0).url _ "slackware" _ arch_suffix _ "-" _ pack.slackver.str _ "/" %]

<main>

[% PROCESS global/leftbar.html.tmpl %]

[% IF pack.status == 'ok' || warn == 1 %]
<section id="Package">
<h2>Подробности за пакета <em>[% pack.title FILTER html %] [%+ pack.version %] за [% pack.arch.name %] [%+ IF pack.build > 1 %]([% pack.build %])[% END %]</em></h2>
[% PROCESS global/socsh_links.html.tmpl
  sh_url = slackpack.home_url _ "/pack.cgi?id=" _ pack.id
  sh_desc = page_title
  ul_class = "share-buttons"
%]
[% IF pack.status != 'ok' %]
<p class="warn_box">Този пакет <strong>не се препоръчва</strong>, защото
е остарял. <strong>Използвайте го на ВАШ СОБСТВЕН РИСК!!!</strong></p>
[% END %]
[% IF pack.security_fix %]
<p class="sec_fix_box">
<strong>Поправка по сигурността</strong>. Този пакет съдържа поправка/и по сигурността.
[%+ IF pack.status == 'ok' %]Препоръчително е да го инсталирате възможно най-скоро.[% END +%]
За повече подробности моля вижте <a href="[% repo_url _ "ChangeLog.txt" FILTER html %]"
target="_blank">ChangeLog.txt</a> файла в <a href="[% repo_url FILTER html %]"
target="_blank">хранилището</a>.
</p>
[% END %]
<p>
<strong>Име</strong>: [% pack.name FILTER html %] ([% pack.title FILTER html %])<br />
<strong>Версия</strong>: [% pack.version FILTER html %]<br />
<strong>Архитектура</strong>: [% pack.arch.name FILTER html %]<br />
<strong>Построение</strong>: [% pack.build FILTER html %]<br />
<strong>Формат</strong>: <a href="search.cgi?slack=[% pack.slackver.id FILTER html %]">[% pack.slackver.name FILTER html %]</a>
</p>
<p>
<strong>Домашна страница</strong>:&nbsp;<a href="[% pack.url FILTER html %]"
target="_blank">[% pack.url FILTER html %]</a>&nbsp;<img alt="ext^"
src="img/extsite" title="Външна връзка" /><br />
[% IF pack.releasedate %]
<strong>Дата на пускане</strong>: [% pack.releasedate FILTER html %]
[% END %]
[% IF pack.vendor.id != 1 %]
<br />
<strong>Доставчик</strong>:&nbsp;<a href="[% pack.vendor.homeurl FILTER html %]"
target="_blank">[% pack.vendor.title FILTER html %]</a>&nbsp;<img alt="ext^"
src="img/extsite" title="Външна връзка" />&nbsp;(<a
href="search.cgi?vendor=[% pack.vendor.id FILTER html %]">списък с пакети</a>)
[% END %]
</p>
<p class="text">[% pack.description FILTER desc_html %]</p>
<p>
<strong>Лиценз</strong>:&nbsp;
[%- IF pack.license.url -%]
<a href="[% pack.license.url FILTER html %]" title="[% pack.license.description FILTER html %]"
target="_blank">[% pack.license.name FILTER html %]</a>&nbsp;<img alt="ext^"
src="img/extsite" title="External site" />
[% ELSE %]
<abbr title="[% pack.license.description FILTER html %]">[% pack.license.name FILTER html %]</abbr>
[% END %]<br />

<strong>Категория</strong>: <a href="search.cgi?cat=[% pack.category.id FILTER html %]">[% pack.category.name_bg FILTER html %]</a><br />
<strong>Серия</strong>: [% pack.serie.id FILTER html %]&nbsp;(<em>[% pack.serie.title FILTER html %]</em>)<br />
<strong>SlackBuild</strong>: [% IF pack.slackbuild == 'yes' %]Да, включен[% ELSE %]Не[% END %]<br />
<strong>От двоична версия</strong>: [% IF pack.frombinary == 'yes' %]Да, само пакетиран[% ELSE %]Не[% END %]
</p>
<h3>Зависимости</h3>
[%- IF pack.deps.requires && pack.deps.requires.size  %]
<em>Изисква</em>:
<ul>
[% FOREACH dep = pack.deps.requires %]
[% SET dep_def = dep.name %]
[% IF dep.sign && dep.ver %]
[% SET dep_def = dep_def _ ' (' _ dep.sign _ ' ' _ dep.ver _ ')' %]
[% END %]
<li>[% dep_def FILTER html %]</li>
[% END %]
</ul>
[%- END %]
[%- IF pack.deps.suggests && pack.deps.suggests.size %]
<em>Предлага</em>:
<ul>
[% FOREACH dep = pack.deps.suggests %]
[% SET dep_def = dep.name %]
[% IF dep.sign && dep.ver %]
[% SET dep_def = dep_def _ ' (' _ dep.sign _ ' ' _ dep.ver _ ')' %]
[% END %]
<li>[% dep_def FILTER html %]</li>
[% END %]
</ul>
[%- END %]
[%- IF pack.deps.conflicts && pack.deps.conflicts.size %]
<em>В конфликт с</em>:
<ul>
[% FOREACH dep = pack.deps.conflicts %]
[% SET dep_def = dep.name %]
[% IF dep.sign && dep.ver %]
[% SET dep_def = dep_def _ ' (' _ dep.sign _ ' ' _ dep.ver _ ')' %]
[% END %]
<li>[% dep_def FILTER html %]</li>
[% END %]
</ul>
[%- END %]
</section>

[% PROCESS global/rightbar.html.tmpl %]

<section>
[% IF history.0 %]
<section id="History">
<h3>История на пакета</h3>
<table class="list">
<thead>
<tr>
 <th>Версия</th>
 <th>Построение</th>
 <th>Дата/Час</th>
 <th>Размер</th>
 <th>Подробности</th>
</tr>
</thead>
<tbody>
[% FOREACH pack = history %]
[% IF pack.security_fix %]
<tr class="security_fix">
[% ELSE %]
<tr>
[% END %]
 <td>[% pack.version FILTER html %]</td>
 <td>[% pack.build FILTER html %]</td>
 <td>[% date.format(pack.filedate) FILTER html  %]</td>
 <td>[% pack.filesize | format_bytes %] ([% pack.filesize | format_number %] <abbr title="Байта">Б</abbr>)</td>
 <td>[% IF pack.status == 'del' %]Изтрит[% ELSE %]<a href="pack.cgi?id=[% pack.id FILTER html %]">Преглед</a>[% END %]</td>
</tr>
[% END %]
</tbody>
</table>
</section>
[% END %]

<section id="OtherFormats">
<h3>Други формати</h3>
[% IF formats.0 %]
<table class="list">
<thead>
<tr>
 <th>Формат</th>
 <th>Версия</th>
 <th>Построение</th>
 <th>Архитектура</th>
 <th>Дата/Час</th>
 <th>Размер</th>
 <th>Подробности</th>
</tr>
</thead>
<tbody>
[% FOREACH pack = formats %]
[% IF pack.security_fix %]
<tr class="security_fix">
[% ELSE %]
<tr>
[% END %]
 <td>[% pack.slackver.name FILTER html %]</td>
 <td>[% pack.version FILTER html %]</td>
 <td>[% pack.build FILTER html %]</td>
 <td>[% pack.arch.name FILTER html %]</td>
 <td>[% date.format(pack.filedate) FILTER html  %]</td>
 <td>[% pack.filesize | format_bytes %] ([% pack.filesize | format_number %] <abbr title="Байта">Б</abbr>)</td>
 <td>[% IF pack.status == 'del' %]Изтрит[% ELSE %]<a href="pack.cgi?id=[% pack.id FILTER html %]">Преглед</a>[% END %]</td>
</tr>
[% END %]
</tbody>
</table>
[% ELSE %]
<p>Не съществуват други формати на този пакет.</p>
[% END %]
</section>
</section>
[% ELSIF pack.status == 'old' %]
<section>
<h2>Пакет <em>[% pack.title FILTER html %] [%+ pack.version %] за [% pack.arch.name %][% IF pack.build > 1 %] ([% pack.build %])[% END %]</em></h2>
<p class="warn_box">Този пакет <strong>не се препоръчва</strong>! Той беше
заменен от нов построение на пакета или нова версия на софтуера. Така програмите
включени в него може да съдържат неразрешени проблеми от всякакъв род.
<em>Решително ви съветваме</em> да използвате <a href="search.cgi?name=[% pack.name %]&amp;lo=1">последните пакети</a>
за тази програма. В противен случай продължете и <a href="pack.cgi?id=[% pack.id %]&amp;w=1">го
използвайте</a> <strong>на ВАШ СОБСТВЕН РИСК!!!</strong></p>
</section>

[% ELSIF pack.status == 'del' %]
[% recovery_mailto = "gdsotirovNOSPAM@gmail.com?subject=" _ slackpack.name _ ": Package recovery request for &#035;" _ pack.id _ " (" _ pack.filename _ ")" %]
<section>
<h2>Пакет <em>[% pack.title FILTER html %] [%+ pack.version %] за [% pack.arch.name %][% IF pack.build > 1 %] ([% pack.build %])[% END %]</em></h2>
<h3>Съжалявам, пакета е изтрит</h3>
<p class="text">Този пакет <strong>вече не е достъпен</strong>! Той беше
премахнат от хранилището най-вероятно, защото е бил изграден неправилно или
пакетираните в него програми са имали проблеми със сигурността. Можете да <a
href="search.cgi?name=[% pack.name FILTER html %]">потърсите</a> за други пакети на този
софтуер. И ако (поради някаква причина) наистина ви трябва, моля <a
href="mailto:[% recovery_mailto FILTER url %]">пишете
на подържащия сайта</a>, но имайте в предвид, че <em>няма никаква гаранция
за възстановяване</em>!</p>
</section>
[% END %]

</main>

[% PROCESS global/footer.html.tmpl %]

