[%# $Id: site.html.tmpl,v 1.3 2010/08/16 21:30:33 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2019  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[% # Interface:
   #
   # dstrbtn_by_arch - table with package distribution by architecture
   # percent_sb - percent of the packages with build script
   # percent_cur - percent of the packages for Slackware Current
   # percent_binrel - percent of the packages created from binary releases
   #
 %]

[% title = "About" %]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "About"
   feeds = lb_feeds
 %]

<div id="Content">

[% PROCESS global/leftbar.html.tmpl %]

<main>
<h2>About the site</h2>
<p class="text">This is a <a href="http://www.slackware.com/"
target="_blank">Slackware</a>&nbsp;<img alt="ext^" src="img/extsite"
title="External site" /> packages site or simply <q>SlackPack</q>. The site was
intended as just a web interface to <a href="http://www.slackware.com/"
target="_blank">Slackware</a>&nbsp;<img alt="ext^" src="img/extsite"
title="External site" /> packages repositories, but it grow to something lot
more than that. The software now offers tools for management of <a
href="http://www.slackware.com/" target="_blank">Slackware</a> repositories.</p>

<p class="text">The idea for this site come to the author when he got close
to hundred packages, which he wanted to be more managable, more accessible
and more easy to find. Until this the packages were just placed on an ftp
server and some of them were registered at <a
href="http://www.linuxpackages.net/search_view.php?cstat=17846"
target="_blank">linuxpackages</a>&nbsp;<img alt="ext^" src="img/extsite"
title="External site" />. However, to author decided to create its own site
and publish the packages mainly there, but still relaying on <a
href="http://www.linuxpackages.net/" target="_blank">linuxpackages.net</a>
&nbsp;<img alt="ext^" src="img/extsite" title="External site" /> to spread
its work.</p>

<p class="text">The author is building packages since the beginning of 2005,
because he wanted to keep its Slackware system clean and easy upgradeable.
<a href="http://www.slackware.com/" target="_blank">Slackware</a>&nbsp;<img
alt="ext^" src="img/extsite" title="External site" /> is a good distribution.
But when it comes to software packages you cannot expect to just find them
(like it is a case with an rpm based distribution). Because, I have specific
needs and I use more software than the official packages provide. Thus, I'm now
doing packages for everything that is not available anywhere else or I need
some special functionality that is not available in the other packages. I'm
open person, so I share my packages to anyone with the hope that they will be
useful.</p>

<p class="text">The ambition of the author is to build good packages, though
there is <strong>no any guarantee</strong> that they will work for you (and
not even for him :-). Most of the packages are built for the Intel 486
architecture (one exception are packages build from binary releases - [% percent_binrel %] %).
The current distribution is:</p>

<table id="DstrbtnByArch">
<caption>Packages distribution by Architecture</caption>
<thead>
<tr>
<th>Architecture</th>
<th>Count</th>
<th>Percent</th>
</tr>
</thead>
<tbody>
[% FOREACH line = dstrbtn_by_arch %]
<tr>
<td>[% line.Name %]</td>
<td>[% line.Count %]</td>
<td>[% line.Percent %] %</td>
</tr>
[% END %]
</tbody>
</table>

<p class="text">Thus currently my packages database totals 
[% slackpack.packs.count %] packages of about [% slackpack.packs.dcount %]
different software applications. When I start to build a software package
you can count that I will continue building it when new releases come out.
And you can always find older versions and builds as well as newest one.</p>

<p class="text">My packages generally follow the requirements of
<a href="http://www.linuxpackages.net/"
target="_blank">linuxpackages.net</a>&nbsp;<img alt="ext^" src="img/extsite"
title="External site" /> and I use their system wide utility script for
writing my build scripts. At this time [% percent_sb %] % of my packages are
produced with a build scripts, but this will increase over time, because my
latest packages are all build by build scripts. This keep things transparent
to users and they can even build the package by themselves if they want to.
I publish my sources and include them in the package.</p>

<p class="text">Some of my packages are build against
The latest packages are always build against the latest
<a href="http://www.slackware.com/" target="_blank">Slackware</a>&nbsp;
<img alt="ext^" src="img/extsite" title="External site" /> official release
thus ensuring the dependencies and that the package will work on the user's
system. When you have the choice do not download packages built against
<a href="http://www.slackware.com/" target="_blank">Slackware</a>&nbsp;
<img alt="ext^" src="img/extsite" title="External site" /> Current.</p>

<p class="text">Hope you like the packages and they are useful for you.<br />
Enjoy the site!<br /><br />Happy surfing ;-)</p>
</main>

</div>

[% PROCESS global/footer.html.tmpl %]
