[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2021  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  error - error code
  #  error_msg - general error message
  #  vars - additional informations
  #
  #%]

[% DEFAULT title = slackpack.name _ " - User Error" %]

[% PROCESS global/header.html.tmpl %]

<main>

<section>
<h2>User error</h2>
<p class="error">
[% IF error == "package_not_found" %]
  Not found. There is no package with number '[% id FILTER html %]'.

[% ELSIF error == "category_not_found" %]
  Not found. There is no category with number '[% category FILTER html %]'.

[% ELSIF error == "no_search_terms" %]
  No search terms provided. Please, provide some terms to narrow you
  search results.

[% ELSIF error == "invalid_identifier" %]
  You have provided an invalid identifier ([% id FILTER html %]). Identifiers
  are positive integer numbers and/or ASCII text.

[% ELSIF error == "invalid_num_identifier" %]
  You have provided an invalid identifier ([% id FILTER html %]). Identifiers
  are positive integer numbers bigger than zero.

[% ELSIF error == "not_a_lp_user" %]
  The author "[% author FILTER html %]" is NOT a linuxpackages.net user!

[% ELSE %]
  Unknown error occurred.
[% END %]
</p>

<!-- TODO: The name and mail address here needs to be of site's maintainer //-->
<p>Please, go back and try again. If the error repeats then send a mail
to <a href="mailto:[% slackpack.author.email FILTER html %]">[% slackpack.author.name FILTER html %]</a>
 with details about what you were doing when the error appeared.</p>
 </section>

</main>

[% PROCESS global/footer.html.tmpl%]
