[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2019  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  error - error code
  #  error_msg - general error message
  #
  #%]

[% DEFAULT title = slackpack.name _ " - Internal Error" %]

[% PROCESS global/header.html.tmpl %]

<main>

<section>
<h2>Code error</h2>
<p class="error">
[% IF error == "template_error" %]
  An error occurred in the process of the web page code generation.
  The error was: [% error_msg FILTER html %].

[% ELSIF error == "not_accesible" %]
  The address "[% url FILTER html %]" is not accessible.

[% ELSIF error == "connect_db" %]
  Cannot connect to the database. Please, try again later.

[% ELSE %]
  An unknown error occurred.

[% END %]
</p>

<!-- TODO: The name and mail address here needs to be of site's maintainer //-->
<p>Please, go back and try again. If the error repeats then send a mail
to <a href="mailto:[% slackpack.author.email FILTER html %]">[% slackpack.author.name FILTER html %]</a>
with details about what you were doing when the error appeared.</p>
</section>

</main>

[% PROCESS global/footer.html.tmpl %]
