[%# $Id: leftbar.html.tmpl,v 1.28 2009/08/17 19:13:25 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2009  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  categories - list of packages categories with package counts
  #  slackvers - list of slackware versions with package counts
  #
  #%]

<div id="LeftBar">

<div id="Search">
<h2>Search</h2>
<form action="search.cgi" id="QuickSearch" method="get">
<p class="center"><input id="q" maxlength="255" name="q" type="text" size="16" value="" />
<br /><span class="right"><a href="search.cgi" title="Search specific
packages">Advanced search</a></span><br /><br />
<input id="submit" name="submit" type="submit" value="Search" /></p>
</form>
</div>

[% IF slackpack.slackvers %]
<div id="Formats">
<h2>Formats</h2>
<ul>
[% FOREACH sver = slackpack.slackvers %]
[% IF sver.packages > 0 %]
<li>
  <a href="search.cgi?slack=[% sver.id %]">[% sver.name FILTER html %]</a>
  ([% sver.packages FILTER html %])
  <a href="feed.cgi?slack=[% sver.id FILTER html %]&amp;type=atom" title="Latest in [% sver.name %]" type="application/atom+xml">
  <img alt="Feed" longdesc="img/feed-icon" src="img/feed-icon" /></a>
</li>
[% END %]
[% END %]
</ul>
</div>
[% END %]

[% IF slackpack.categories %]
<div id="Categories">
<h2>Categories</h2>
<ul>
[% FOREACH cat = slackpack.categories %]
<li>
  [% IF cat.packages > 0 %]
  <a href="search.cgi?cat=[% cat.id FILTER html %]">[% cat.name FILTER html %]</a>
  [% ELSE %]
  [% cat.name FILTER html %]
  [% END %] ([% cat.packages FILTER html %])
  [% IF cat.packages > 0 %]
  <a href="feed.cgi?cat=[% cat.id FILTER html %]&amp;type=atom" title="Latest in category [% cat.name %]" type="application/atom+xml">
  <img alt="Feed" longdesc="img/feed-icon" src="img/feed-icon" /></a>
  [% END %]
</li>
[% END %]
</ul>
</div>
[% END %]

[% IF slackpack.vendors %]
<div id="Vendors">
<h2>Vendors</h2>
<ul>
[% FOREACH vendor = slackpack.vendors %]
<li>
  [% IF vendor.packages > 2 && vendor.id > 1 %]
  <a href="search.cgi?vendor=[% vendor.id FILTER html %]">[% vendor.name FILTER html %]</a>
  &nbsp;([% vendor.packages FILTER html %])&nbsp;
  <a href="feed.cgi?vendor=[% vendor.id FILTER html %]&amp;type=atom" title="Latest from vendor [% vendor.name %]" type="application/atom+xml">
  <img alt="Feed" longdesc="img/feed-icon" src="img/feed-icon" /></a>
  [% END %]
</li>
[% END %]
</ul>
</div>
[% END %]

[% IF slackpack.lb_links %]
<div id="Links">
<h2>Links</h2>
<map id="LinksMap"><ul>
[% FOREACH link = slackpack.lb_links %]
<li><a href="[% link.url FILTER url %]">[% link.title FILTER html %]</a>
    <img alt="ext^" src="img/extsite" title="External site" /></li>
[% END %]
</ul></map>
</div>
[% END %]

[% IF slackpack.about_links %]
<div id="About">
<h2>About</h2>
<map id="AboutMap"><ul>
[% FOREACH link = slackpack.about_links %]
<li><a href="[% link.url FILTER url %]">[% link.title FILTER html %]</a></li>
[% END %]
</ul></map>
</div>
[% END %]

<div id="Donate">
<h2>Donate</h2>
<p class="center">If you would like, please <a href="donate.cgi">donate</a>:
<br /><br />
<a href="donate.cgi?q=paypal">
<img alt="PayPal" src="img/paypal" title="Donate through PayPal" /></a>
<br /><br />
<a href="donate.cgi?q=mb">
<img alt="MoneyBookers" src="img/moneybookers.gif" title="Donate
through MoneyBookers" /></a>
<br /><br />
<a href="donate.cgi?q=epay">
<img alt="EPay Now" src="img/btn_epay" title="Donate through EPay" /></a>
</p>
<p class="right">See <a href="donate.cgi">dontating options</a></p>
</div>
</div>
