[%# $Id: leftbar.feeds.tmpl,v 1.4 2010/08/18 22:29:45 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2010  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  categories - list of packages categories with package counts
  #  slackvers - list of slackware versions with package counts
  #
  #%]

[% lb_feeds = [] %]

[% FOREACH sver = slackpack.slackvers %]
[%   IF sver.packages > 0 %]
[%   FILTER html %]
[%     lb_feeds.push({title => "Latest in " _ sver.name _ " (Atom)",
                      type => "application/atom+xml",
                      url => "feed.cgi?slack=" _ sver.id _ "&type=atom"
                     }) %]
[%     lb_feeds.push({title => "Latest in " _ sver.name _ " (RSS)",
                      type => "application/rss+xml",
                      url => "feed.cgi?slack=" _ sver.id _ "&type=rss"
                     }) %]
[%     lb_feeds.push({title => "Latest in " _ sver.name _ " (RDF)",
                      type => "application/rdf+xml",
                      url => "feed.cgi?slack=" _ sver.id _ "&type=rdf"
                     }) %]
[%   END %]
[%   END %]
[% END %]

[% FOREACH cat = slackpack.categories %]
[% FILTER html %]
[%   lb_feeds.push({title => "Latest in category " _ cat.name _ " (Atom)",
                    type => "application/atom+xml",
                    url => "feed.cgi?cat=" _ cat.id _ "&type=atom"
                   }) %]
[%   lb_feeds.push({title => "Latest in category " _ cat.name _ " (RSS)",
                    type => "application/rss+xml",
                    url => "feed.cgi?cat=" _ cat.id _ "&type=rss"
                   }) %]
[%   lb_feeds.push({title => "Latest in category " _ cat.name _ " (RDF)",
                    type => "application/rdf+xml",
                    url => "feed.cgi?cat=" _ cat.id _ "&type=rdf"
                   }) %]
[% END %]
[% END %]