[%# $Id: advanced.html.tmpl,v 1.19.2.1 2007/04/18 20:17:29 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2007  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  archs - hash with the type of architectures data
  #  slackvers - hash with the slackware versions data
  #
  #%]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title="SlackPack: Advanced search"
   feeds = lb_feeds
 %]

<div id="Content">

[% PROCESS global/leftbar.html.tmpl %]

<div id="Main">
<h2>Advanced search on the packages database</h2>
<script type="text/javascript">
<!--
  function Check() {
    var f = document.forms.Search;
    if ( f.name.value == "" ) {
      alert("Please, put some terms in the 'Name' field.");
      f.name.focus();
      return false;
    }
    return true;
  }
//-->
</script>
<form action="search.cgi" id="ASearch" method="get" onsubmit="javascript: Check()">
<fieldset>
<legend>General</legend>
<div class="row">
<p>Put some terms in the field bellow to search by package name.</p>
</div>
<div class="row">
<label for="name"><span class="label"><strong>Name</strong>:</span></label>
<span class="input"><input id="name" maxlength="128" name="name" size="25" type="text" /></span>
</div>

<div class="row">
<label for="ver"><span class="label">Version:</span></label>
<span class="input"><input id="ver" maxlength="20" name="ver" size="10" type="text" /></span>
</div>
</fieldset>

<fieldset>
<legend>Target</legend>
<div class="row">
<p>Define your requirements.</p>
</div>
<div class="row">
<label for="arch"><span class="label">Architecture:</span></label>
<span class="input"><select id="arch" name="arch">
 <option value="any" selected="selected">Any</option>
 <option value="x86">Any x86 (32 bit)</option>
[% FOREACH arch = archs %]
 [% IF arch.packages > 0 %]
 <option value="[% arch.id FILTER html %]">[% arch.name FILTER html %]</option>
 [% END %]
[% END %]
</select></span>
</div>

<div class="row">
<label for="slack"><span class="label">Slackware Version:</span></label>
<span class="input"><select id="slack" name="slack">
 <option value="any" selected="selected">Any</option>
[% FOREACH sver = slackvers %]
 [% IF sver.packages > 0 %]
 <option value="[% sver.id FILTER html %]">[% sver.name FILTER html %]</option>
 [% END %]
[% END %]
</select></span>
</div>
</fieldset>

<fieldset>
<legend>Misc</legend>
<div class="row">
<p>Further refine your search.</p>
</div>
<div class="row">
<label for="latestonly"><span class="label">Only latest (<em>excludes older
versions and package rebuilds</em>)</span></label>
<span class="input"><input checked="tue" id="latestonly" name="latestonly"
type="checkbox" value="1" /></span></div>
<div class="row">
<label for="sb"><span class="label">Only with SlackBuild</span></label>
<span class="input"><input id="sb" name="sb" type="checkbox"
value="1" /></span></div>
<div class="row">
<label for="nobin"><span class="label">Exclude packages from binary
releases</span></label>
<span class="input"><input id="nobin" name="nobin" type="checkbox"
value="1" /></span></div>
</fieldset>

<div class="row">&nbsp;</div>

<div>
<p class="center">
<input type="submit" value="Search" />&nbsp;
<input type="reset" value="Clear form" /></p>
</div>
</form>
</div>

</div>

[% PROCESS global/footer.html.tmpl %]

