[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2019  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  archs - hash with the type of architectures data
  #  slackvers - hash with the slackware versions data
  #
  #%]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title="Advanced search"
   feeds = lb_feeds
 %]

<main>

[% PROCESS global/leftbar.html.tmpl %]

<section id="AdvancedSearch">
<h2>Advanced search on the packages database</h2>
<script src="js/l10n.en.js"></script>
<script src="js/search.js"></script>
<form action="search.cgi" id="AdvSearch" method="get"
      onsubmit="return CheckTerms()" onreset ="return ConfirmReset()">
<fieldset>
<legend>General</legend>
<div class="row">
<p>Put some terms in the field bellow to search by package name.</p>
</div>
<div class="row">
<label for="name"><span class="label"><strong>Name</strong>:</span></label>
<span class="input"><input id="name" maxlength="128" name="name" size="32" type="text" />
<em>Note</em>: For exact match put the term between double quotes (eg. "mysql").</span>
</div>

<div class="row">
<label for="ver"><span class="label">Version:</span></label>
<span class="input"><input id="ver" maxlength="20" name="ver" size="10" type="text" /></span>
</div>
</fieldset>

<fieldset>
<legend>Target</legend>
<div class="row">
<p>Define your requirements.</p>
</div>
<div class="row">
<label for="arch"><span class="label">Architecture:</span></label>
<span class="input"><select id="arch" name="arch">
 <option value="any" selected="selected">Any</option>
 <option value="x86">Any x86 (32 bit)</option>
[% FOREACH arch = archs %]
 [% IF arch.packages > 0 %]
 <option value="[% arch.id FILTER html %]">[% arch.name FILTER html %]</option>
 [% END %]
[% END %]
</select></span>
</div>

<div class="row">
<label for="slack"><span class="label">Format:</span></label>
<span class="input"><select id="slack" name="slack">
 <option value="any" selected="selected">Any</option>
[% FOREACH sver = slackvers %]
 [% IF sver.packages > 0 %]
 <option value="[% sver.id FILTER html %]">[% sver.name FILTER html %]</option>
 [% END %]
[% END %]
</select></span>
</div>
</fieldset>

<fieldset>
<legend>Misc</legend>
<div class="row">
<p>Further refine your search.</p>
</div>
<div class="row">
<label for="latestonly"><span class="label">Only latest (<em>excludes older
versions and package rebuilds</em>)</span></label>
<span class="input"><input checked="checked" id="latestonly" name="latestonly"
type="checkbox" value="1" /></span></div>
<div class="row">
<span class="label"><label for="gplonly">Only <abbr title="General Public
License">GPL</abbr>&nbsp; (<em>and compatible licenses</em>).</label>&nbsp;See&nbsp;
<a href="http://www.gnu.org/licenses/license-list.html#GPLCompatibleLicenses">FSF</a>&nbsp;
<img alt="ext^" src="img/extsite" title="External site" />&nbsp;or&nbsp;<a
href="http://en.wikipedia.org/wiki/List_of_FSF_approved_software_licenses">Wikipedia</a>&nbsp;
<img alt="ext^" src="img/extsite" title="External site" /></span>
<span class="input"><input id="gplonly" name="gplonly" type="checkbox"
value="1" /></span></div>
<div class="row">
<label for="nobin"><span class="label">Exclude packages from binary
releases</span></label>
<span class="input"><input id="nobin" name="nobin" type="checkbox"
value="1" /></span></div>
<div class="row">
<label for="incntnts"><span class="label">Search in packages'
contents</span></label>
<span class="input"><input id="incntnts" name="incntnts" type="checkbox"
value="1" /></span></div>
</fieldset>

<div class="row">&nbsp;</div>

<div>
<p class="center">
<input id="advsubmit" type="submit" value="Search" name="advsubmit" />&nbsp;
<input type="reset" value="Clear form" /></p>
</div>
</form>
</section>

</main>

[% PROCESS global/footer.html.tmpl %]

