[%# $Id: advanced.html.tmpl,v 1.5 2006/10/06 22:06:43 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  archs - hash with the type of architectures data
  #  slackvers - hash with the slackware versions data
  #
  #%]

[% PROCESS global/header.html.tmpl
   title="Advanced search"
 %]

<div id="Content">

[% PROCESS global/leftbar.html.tmpl %]

<div id="Main">

<h2>Advanced search on the packages database</h2>
<form action="search.cgi" id="searchform" method="post">
<fieldset>
<legend>General</legend>
<div class="row">
<p>Put some terms in the field bellow to search by package name.</p>
</div>
<div class="row">
<label for="name"><span class="label"><strong>Name</strong>:</span>&nbsp;<span class="input"><input id="name" maxlength="128" name="name" size="32" type="text" /></span></label>
</div>

<div class="row">
<label for="version"><span class="label">Version:</span>&nbsp;<span class="input"><input id="version" maxlength="20" name="version" size="10" type="text" /></span></label>
</div>
</fieldset>

<fieldset>
<legend>Target</legend>
<div class="row">
<label for="arch"><span class="label">Architecture:</span>&nbsp;<span class="input">
<select id="arch" name="arch">
[% FOREACH arch = archs %]
 <option value="[% arch.id FILTER html %]"[% IF arch.default == 'yes' %] selected="selected"[% END %]>[% arch.name FILTER html %]</option>
[% END %]
</select></span></label>
</div>

<div class="row">
<label for="slackver"><span class="label">Slackware Version:</span>&nbsp;<span class="input">
<select id="slackver" name="slackver">
[% FOREACH slackver = slackvers %]
 <option value="[% slackver.id FILTER html %]"[% IF slackver.default == 'yes' %] selected="selected"[% END %]>[% slackver.name FILTER html %]</option>
[% END %]
</select></span></label>
</div>
</fieldset>

<div class="row">&nbsp;</div>

<div class="row">
<span class="label"><input type="submit" value="Search" /></span>
<span class="input"><input type="reset" value="Clear form" /></span>
</div>
</form>
</div>

</div>

[% PROCESS global/footer.html.tmpl %]
