[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2020  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  id - the identifier of the package
  #  name - architecture name
  #
  #%]

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="bg" lang="bg">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Georgi D. Sotirov, gdsotirov@gmail.com" />
<title>Update Slackware Package Architecture</title>
<link rel="icon" href="/img/sotirov_net" />
<link rel="shortcut icon" href="/img/sotirov_net" />
<link rel="stylesheet" href="/style/admin.css" media="print, screen" title="Подразбран" type="text/css" />
</head>

<body>
<h1>Update Slackware Package Architecture</h1>
<h2>This form allows you to edit the data of a slackware package architecture.</h2>
<p><em>Note: All fields in bold are required!</em></p>
<form action="editarchs.cgi?action=update" id="slackpack" method="post">
<input type="hidden" name="id" value="[% $id %]" />
<div class="row">
<label for="new_id"><span class="label"><strong>Identifier</strong>:</span>&nbsp;<span class="field"><input id="new_id" maxlength="8" name="new_id" size="8" type="text" value="[% id %]" /></span></label>
</div>

<div class="row">
<label for="name"><span class="label"><strong>Name</strong>:</span>&nbsp;<span class="field"><input id="name" maxlength="40" name="name" size="30" type="text" value="[% name %]" /></span></label>
</div>

<div class="row">
<label for="name"><span class="label">Default:</span>&nbsp;<span class="field"><input [% IF $def == 'yes' %]checked="checked"[% END %] id="name" name="name" type="checkbox" /></span></label>
</div>

<div class="row">
<input type="submit" value="Update architecture" />&nbsp;
<input type="reset" value="Clear form" />
</div>
</form>
</body>

</html>
