[%# $Id: contents.html.tmpl,v 1.3 2007/01/09 20:40:14 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  pack - package data
  #  dump - file contents
  #
  #%]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "SlackPack: Package contents for " _ pack.filename
   feeds = lb_feeds
 %]

<div id="Content">

[% PROCESS global/leftbar.html.tmpl %]

<div id="Main">
<h2>Package contents for <em>[% pack.filename FILTER html %]</em></h2>
<p class="right"><a href="pack.cgi?id=[% pack.id %]">Return to package details</a></p>
<div id="Package">
<pre>[% dump %]</pre>
</div>
<p class="right"><a href="pack.cgi?id=[% pack.id %]">Return to package details</a></p>
</div>

</div>

[% PROCESS global/footer.html.tmpl %]

