[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2021  Georgi D. Sotirov, gdsotirov@gmail.com
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  pack - package data
  #
  #%]

[% USE date %]
[% SET page_title = "Package signature for " _ pack.title _ " " _ pack.version _ " for " _ pack.arch.name %]
[% IF pack.build > 1 %]
[%   SET page_title = page_title _ " (" _ pack.build _ ")" %]
[% END %]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = page_title
   feeds = lb_feeds
 %]

<main>

[% PROCESS global/leftbar.html.tmpl %]

<section id="Package">
<h2>Package signature for <em>[% pack.title FILTER html %] [%+ pack.version %] for [% pack.arch.name %] [%+ IF pack.build > 1 %]([% pack.build %])[% END %]</em></h2>
<p class="text">This is the package signature as generated by
<a href="https://www.gnupg.org/" title="The GNU Privacy Guard">The GnuPG</a>.
This signature identifies the party that created the package. By verifying it
you are sure that the package coming from a trustworty person or organization.</p>
<p class="text">Here is the package signature:</p>
<pre><strong>[% pack.filesign FILTER html %]</strong></pre>
<p class="text">You can save this signature in a text file (<em>e.g.&nbsp;
[% pack.filename FILTER html %].asc</em>) in the same directory where the package file
(<em>[% pack.filename FILTER html %]</em>) resides and you can verify it by issuing the
following command:</p>
<pre>gpg --verify [% pack.filename FILTER html %].asc</pre>
<p class="text">NOTE: You need to import the <a href="ftp://sotirov-bg.net/KEY">
public key</a> of [% slackpack.name FILTER html %] first:</p>
<pre>gpg --import KEY</pre>
</section>

[% PROCESS global/rightbar.html.tmpl %]

</main>

[% PROCESS global/footer.html.tmpl %]

