[%# $Id: verifymd5.html.tmpl,v 1.1 2007/02/27 20:19:34 gsotirov Exp $ %]

[%# INFO & LICENSE :
  #
  # SlackPack
  # Copyright (C) 2006-2007  Georgi D. Sotirov, gdsotirov@dir.bg
  #
  # This program is free software; you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation; either version 2 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program; if not, write to the Free Software
  # Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  #%]

[%# INTERFACE:
  #
  #  pack - package data
  #  checked - flag that is on after the check is made
  #  correct - flag that shows if the MD5 sum is correct or not
  #  md5 - verified md5 sum
  #
  #%]

[% PROCESS global/leftbar.feeds.tmpl %]
[% PROCESS global/header.html.tmpl
   title = "SlackPack: Verify MD5 hash for " _ pack.filename
   skip_h1 = 1
 %]

<div>
<h1 class="center">Verify MD5</h1>
</div>

<div id="VerifyForm" class="center">
<p>File: [% pack.filename %]</p>
[% IF checked %]
  [% IF correct %]
    <p class="correct">The provided MD5 sum ([% md5 %]) is correct!</p>
    <p class="info">This means that the package you have downloaded should be
    identical to the original. You can seafely install it.</p>
  [% ELSE %]
    <p class="wrong">Sorry. The provided MD5 sum ([% md5 %]) is <strong>NOT</strong>
    correct!</p>
    <p class="info">Please, do not try to install the package! Instead download it
    again and recheck. If the problem persists try downloading from another mirror
    or directly from the orignating site - sotirov-bg.net</p>
  [% END %]
  <p><a href="#" onclick="javascript: window.close()"
                 onkeypress="javascript: window.close()">Close this window</a>
  </p>
[% ELSE %]
  <form action="pack.cgi" id="VerifyMD5" method="get">
  <input id="id" name="id" type="hidden" value="[% pack.id %]" />
  <p><input id="md5" maxlength="32" name="md5" size="32"
  type="text"[% IF md5 %] value="[% md5 %]"[% END %] /></p>
  <p><input id="Verify" type="submit" value="Verify" />&nbsp;
  <input id="Reset" type="reset" value="Clear" /></p>
  </form>
[% END %]
</div>

</body>

</html>

